<template>
    <div class="container mt-3">
        <h3><span class="fa fa-pencil-alt text-info"></span>&nbsp;Update Final Exam</h3>
        <hr>

        <div class="bulletin-main">
            <b-container fluid>

                <b-row class="bulletin-row" v-if="showNotification == true">
                    <b-col>
                        <b-alert variant="success" v-model="showNotification">
                            Fields with <span style="color:red;">*</span> are required</b-alert>
                    </b-col>    
                </b-row>

                <b-row class="bulletin-row" v-else-if="showSuccess == true">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Final Exam successfully saved</b-alert>
                    </b-col>   
                </b-row>

                <b-row class="bulletin-row" v-else-if="showError == true">
                    <b-col>
                        <b-alert variant="danger" v-model="showError">
                            <span class="fa fa-times"></span> Fields with <span style="color:red;">*</span> are required</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Publish</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-checkbox v-model="publish" name="check-button" switch size="lg">
                        </b-form-checkbox>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Course <span style="color:red;">*</span></label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-select v-model="selected" :options="options"></b-form-select>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Description</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                            <b-form-textarea
                                id="textarea"
                                v-model="description"
                                rows="5"
                                no-resize
                                >
                            </b-form-textarea>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>No. of Items <span style="color:red;">*</span></label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="items" 
                                    type="number"
                                    v-model="items"
                                    min=0
                                    max=200></b-form-input>
                    </b-col>
                </b-row>
                
                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button
                            :disabled=submitStatus
                            type="submit" 
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" href="/final-exam-main">Back</a>
                    </b-col>
                </b-row>
                
            </b-container>        
        </div>

    </div>
</template>

<script>

    export default {
        data(){
            return {
                options: [],
                selected: '',
                description: '',
                items: '',
                publish: '',
                showSuccess: false,
                showError: false,
                showNotification: true,
                submitStatus: false,
            }
        },
        mounted(){
            this.getCourse()
            this.getData()
        },

        methods: {

            getCourse: function(){
                axios
                    .get('/course-list')
                    .then(response => (
                        this.options = response.data
                    ))
                    .catch(error => console.log(error))

            },

            getData(){
                axios
                    .get('/get-edit-final-exam/' + this.$route.params.id)
                    .then(response => {
                        this.selected = response.data['course_id']
                        this.description = response.data['description']
                        this.items = response.data['items']
                        
                        if(response.data['publish']){
                            this.publish = true
                        } else{
                            this.publish = false
                        }

                    })
                    .catch(error => console.log(error))
                    
            },

            submit: function(){

                this.submitStatus = true
                this.showNotification = false

                if(this.course_id == '' || this.items == ''){
                    this.showError = true
                    this.submitStatus = false
                } else{

                    var publish_val = 0

                    if(this.publish === true){
                        publish_val = 1
                    }

                    axios
                        .post('/update-final-exam/'  + this.$route.params.id, {
                            course_id: this.selected,
                            description: this.description,
                            items: this.items,
                            publish: publish_val,
                        })
                        .then(response => (
                            this.showError = false,
                            this.showSuccess = true
                        ))
                        .catch(error => console.log(error))

                }
            },

        },

    }
</script>