<template>
    <div class="container mt-3">
        <h3><span class="fa fa-pencil-alt text-info"></span>&nbsp;Final Exams</h3>
        <hr>

        <div class="bulletin-main">

            <b-row>
                <b-col class="top-button">
                    <b-button variant="success" href="/add-final-exam" role="button">
                    <span class="fa fa-pencil-ruler"></span> Add Final Exam</b-button>
                </b-col>
            </b-row>

            <b-row>

                <b-col>
                    <b-row class="bulletin-row">
                        <b-col sm="2">
                            <label>Course</label>
                        </b-col>
                        <b-col sm="1">
                            :
                        </b-col>
                        <b-col>
                            <b-form-select v-model="course_selected" :options="course_options"></b-form-select>
                        </b-col>
                    </b-row>
                </b-col>

            </b-row>

            <b-row>

                <b-col v-if="data" class="table" id="bulletin-table">
                    <b-table 
                        striped hover 
                        :fields="fields" 
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(courseName)="data">
                            {{ data.item.course.name }}
                        </template>

                        <template v-slot:cell(items)="data">
                            {{ data.item.items }}
                        </template>

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-primary" :href="'/edit-final-exam/' + data.item.id" role="button">Edit</b-button>
                            <b-button variant="outline-danger" v-on:click="deleteExam(data.item.id, data.item.course_id)">Delete</b-button>
                            <b-button variant="outline-success" :href="'/final-exam-modules/' + data.item.id + '/' + data.item.course_id" role="button">View Modules</b-button>
                        </template>

                        <template v-slot:cell(published)="data" thead-tr-class="center">
                            <b-badge variant="warning" v-if="data.item.publish == 1">Yes</b-badge>
                            <b-badge variant="dark" v-else>No</b-badge>
                        </template>

                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>
                </b-col>

                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                fields: [
                    {key:'courseName', thClass:'view-assignment-remarks-width'},
                    {key:'items', thClass:'text-center', tdClass:'text-center'},
                    {key:'actions', thClass:'text-center', tdClass:'text-center'},
                    {key:'published', thClass:'text-center', tdClass:'text-center'},
                ],
                perPage: 3,
                currentPage: 1,
                showNoData: false,
                course_selected: '',
                course_options: [],
            }
        },
        
        mounted(){
            this.getData()
            this.getCourseList()

            if(this.data.length == 0){
                this.showNoData = true
            }

        },

        methods:{

            getData(){
                axios
                    .get('/final-exam-list-data')
                    .then(response => (
                        this.data = response.data
                    ))
            },

            updateData(){
                axios
                    .post('/update-final-exam-list', {
                        course_id: this.course_selected,
                    })
                    .then(response => (
                        this.data = response.data
                    ))
                    .catch(error => console.log(error))
            },

            getCourseList: function(){
                axios
                    .get('/course-list')
                    .then(response => (
                        this.course_options = response.data
                    ))
                    .catch(error => console.log(error))

            },

            deleteExam(id, cid){

                this.$bvModal
                    .msgBoxConfirm("Do you want to delete this record?. \n Questions under this couse will also be deleted.", {
                        title: 'Please Confirm',
                        size: 'sm',
                        buttonSize: 'sm',
                        okVariant: 'danger',
                        okTitle: 'YES',
                        cancelTitle: 'NO',
                        footerClass: 'p-2',
                        hideHeaderClose: false,
                        centered: true
                    })
                    .then(value => {
                        if(value){
                            axios
                                .get('/delete-final-exam/' + id + '/' + cid)
                                .then(response => (
                                    this.$bvModal
                                        .msgBoxOk('Record deleted', {
                                            title: 'Deleted',
                                            size: 'sm',
                                            buttonSize: 'sm',
                                            okVariant: 'success',
                                            headerClass: 'p-2 border-bottom-0',
                                            footerClass: 'p-2 border-top-0',
                                            centered: true
                                        })
                                        .then(value => {
                                            this.getData()
                                        })
                                        .catch(err => {
                                            console.log(err)
                                        })
                                ))

                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })

            },

        },

        computed: {
            rows() {
                return this.data.length
            }
        },

        watch: {
            course_selected: function (val){
                this.updateData()
            },

        } 

    }
</script>