<template>
    
    <div class="contact-list">

        <ul>
            <li v-for="contact in contacts" :key="contact.id" @click="selectContact(contact.id, contact)" :class="{ 'selected' : contact.id == selected }">
                <div class="contact">
                    <p class="name">
                        {{contact.profile.last_name}}, {{contact.profile.first_name}} {{contact.profile.middle_name}}
                    </p>
                    <p class="email">
                        {{contact.email}}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default{
        props: {
            contacts: {
                type: Array,
                default: []
            }
        },
        data(){
            return {
                selected: 0,
            }
        },

        methods:{
            selectContact(index, contact){
                this.selected = index
                this.$emit('selected', contact)
            },
        },
    }
</script>