<template>
    <div class="conversation">
        <h1 v-if="contact">{{contact.profile.last_name}}, {{contact.profile.first_name}} {{contact.profile.middle_name}}</h1>
        <h1 v-else>Select a contact</h1>
        <MessageFeed :contact="contact" :messages="messages" />
        <MessageComposer @send="sendMessage" />
    </div>
</template>

<script>

    import MessageFeed from './MessageFeed'
    import MessageComposer from './MessageComposer'

    export default{

        components: {MessageFeed, MessageComposer},

        props: {
            contact: {
                type: Object,
                default: null
            },
            messages: {
                type: Array,
                default: []
            }
        },


        // data(){
        //     return {
        //         selectedContact: null,
        //         messages: [],
        //         contacts:[]
        //     }
        // },
        
        // mounted(){
        //     this.getContacts()
        // },

        methods:{
            sendMessage(text){
                if(this.contact){

                    axios
                        .post('/conversation/send', {
                            contact_id: this.contact.id,
                            text: text
                        })
                        .then((response) => {
                            this.$emit('new', response.data);
                        })

                }
                
            }
        },
    }
</script>