<template>
    <div class="composer">
        <textarea v-model="message" @keydown.enter="send" placeholder="Message....."></textarea>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                message: ''
            }
        },
        
        // mounted(){
        //     this.getContacts()
        // },

        methods:{
            send(e){
                e.preventDefault()
                if(this.message.trim()){
                    this.$emit('send', this.message.trim())
                    this.message = ""
                }
            }
        },
    }
</script>