<template>
    <div class="container mt-3">
        <h3><span class="fa fa-upload text-info"></span>&nbsp;Add Module Files</h3>
        <hr>

        <div class="upload-module-main">
            <b-container fluid>

                <b-row class="bulletin-row">
                    <b-col>
                        Course : {{ course_name }}
                    </b-col>
                    <b-col>
                        Module : {{ module_name }}
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Module Uploads successfully saved</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Module Text</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                            <b-form-textarea
                                id="textarea"
                                v-model="module_text"
                                rows="5"
                                no-resize
                                >
                            </b-form-textarea>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>File</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-file
                            multiple
                            v-model="file"
                            :state="Boolean(file)"
                            placeholder="Choose a file or drop it here..."
                            drop-placeholder="Drop file here..."
                            accept=".doc, .docx, .pdf, .xls, .xlsx, .ppt, .pptx"
                        >
                        <template slot="file-name" slot-scope="{ names }">
                            <b-badge variant="dark">{{ names[0] }}</b-badge>
                            <b-badge v-if="names.length > 1" variant="dark" class="ml-1">
                            + {{ names.length - 1 }} More files
                            </b-badge>
                        </template>
                        
                        </b-form-file>

                        <label style="font-size:small;">To select multiple files, hold <kbd>ctrl</kbd> on keyboard while selecting files. The files to be uploaded should be in the same folder</label>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Document External Link</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <!-- <b-form-input id="external-link" type="text" v-model="external_link"></b-form-input> -->
                        <b-form-tags 
                            v-model="external_link" 
                            placeholder=""
                            remove-on-delete></b-form-tags>
                        <label style="font-size:small;">Paste the url link for tne video, Then press <kbd>Enter</kbd> on keyboard to add it. You can add multiple times. Press <kbd>Backspace</kbd> to remove the last tag entered. </label>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Video Link</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <!-- <b-form-input id="video-link" type="text" v-model="path_to_vid"></b-form-input> -->
                        <b-form-tags 
                            v-model="path_to_vid" 
                            placeholder=""
                            remove-on-delete></b-form-tags>
                        <label style="font-size:small;">Paste the url link for tne video, Then press <kbd>Enter</kbd> on keyboard to add it. You can add multiple times. Press <kbd>Backspace</kbd> to remove the last tag entered. </label>
                    </b-col>
                </b-row>
                <b-row class="bulletin-row">
                    <b-col sm="2">
                    </b-col>
                    <b-col sm="1">
                    </b-col>
                    <b-col>
                        <label style="font-size:small;"></label>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Webinar Link</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="path-to-webinar" type="text" v-model="path_to_webinar"></b-form-input>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label :for="webinar">Webinar Date</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="webinar" type="date" v-model="webinar"></b-form-input>
                    </b-col>
                </b-row>



                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button
                            :disabled=submitStatus
                            type="submit" 
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" href="/upload-module-create">Back</a>
                    </b-col>
                </b-row>
                
            </b-container>        
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                course_name: '',
                module_name: '',
                module_text: '',
                external_link: [],
                path_to_vid: [],
                path_to_webinar: '',
                webinar: '',
                file: [],
                names: [],
                showSuccess: false,
                submitStatus: false,
                
            }
        },
        mounted(){
            this.getTitle()
        },

        methods: {

            getTitle: function(){
                axios
                    .get('/module-list-title/' + this.$route.params.id)
                    .then(response => (
                        this.course_name = response.data.course.name,
                        this.module_name = response.data.name
                    ))
                    .catch(error => console.log(error))

            },

            submit: function(){
                var formData = new FormData()
                var settings = { headers: { 'content-type': 'multipart/form-data' } }

                formData.append('module_text', this.module_text)
                formData.append('external_link', this.external_link)
                formData.append('path_to_vid', this.path_to_vid)
                formData.append('path_to_webinar', this.path_to_webinar)
                formData.append('webinar', this.webinar)
                formData.append('course_id', this.$route.params.cid)
                formData.append('module_id', this.$route.params.id)

                $.each(this.file, function( index, value ) {
                    formData.append('file[]', value, value.name);
                });

                axios
                    .post('/add-upload-module', formData, settings)
                    .then(response => (
                        this.showSuccess = true,
                        this.submitStatus = true
                    ))
                    .catch(error => console.log(error))
            },

        },

    }
</script>