<template>
    <div class="container mt-3">
        <h3><span class="fa fa-upload text-info"></span>&nbsp;Update Module File</h3>
        <hr>

        <div class="upload-module-main">
            <b-container fluid>

                <b-row class="bulletin-row">
                    <b-col>
                        Course : {{ course_name }}
                    </b-col>
                    <b-col>
                        Module : {{ module_name }}
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Module Text</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                            <b-form-textarea
                                id="textarea"
                                v-model="module_text"
                                rows="5"
                                no-resize
                                >
                            </b-form-textarea>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>File</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-file
                            multiple
                            v-model="file"
                            :state="Boolean(file)"
                            placeholder="Choose a file or drop it here..."
                            drop-placeholder="Drop file here..."
                            accept=".doc, .docx, .pdf, .xls, .xlsx, .ppt, .pptx"
                        >
                        <template slot="file-name" slot-scope="{ names }">
                            <b-badge variant="dark">{{ names[0] }}</b-badge>
                            <b-badge v-if="names.length > 1" variant="dark" class="ml-1">
                            + {{ names.length - 1 }} More files
                            </b-badge>
                        </template>
                        
                        </b-form-file>

                        <label style="font-size:small;">To select multiple files, hold <kbd>ctrl</kbd> on keyboard while selecting files. The files to be uploaded should be in the same folder</label>                
                    </b-col>
                </b-row>

                <b-row class="bulletin-row" v-if="originalFilename">
                    <b-col sm="2">
                        <label style="font-size:x-small;">Uploaded files</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-badge variant="dark">{{ originalFilename[0] }}</b-badge>
                        <b-badge v-if="originalFilename.length > 1" variant="dark" class="ml-1">
                        + {{ originalFilename.length - 1 }} More files
                        </b-badge>                    
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Document External Link</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <!-- <b-form-input id="external-link" type="text" v-model="external_link"></b-form-input> -->
                        <b-form-tags 
                            v-model="external_link" 
                            placeholder=""
                            remove-on-delete></b-form-tags>
                        <label style="font-size:small;">Paste the url link for the video, Then press <kbd>Enter</kbd> on keyboard to add it. You can add multiple times. Press <kbd>Backspace</kbd> to remove the last tag entered. </label>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Video Link</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <!-- <b-form-input id="video-link" type="text" v-model="path_to_vid"></b-form-input> -->
                        <b-form-tags 
                            input-id="tags-basic" 
                            v-model="path_to_vid" 
                            placeholder=""
                            remove-on-delete></b-form-tags>
                        <label style="font-size:small;">Paste the url link for the video, Then press <kbd>Enter</kbd> on keyboard to add it. You can add multiple times. Press <kbd>Backspace</kbd> to remove the last tag entered. </label>
                    </b-col>
                </b-row>

                <hr>
                <b-col sm="1">
                    <b-button pill 
                        variant="primary"
                        v-b-tooltip.hover title="Click to add new Webinar"
                        v-b-tooltip.right
                        size="small"
                        @click="addWebinarForm"><span class="fa fa-plus"></span></b-button>
                </b-col>

                <b-row v-for="(webinar, index) in webinars" :key="index" class="bulletin-row">
                    <b-col cols="1">
                        <label>Webinar:</label>
                    </b-col>
                    <b-col  cols="4">
                        <b-form-input id="path-to-webinar" type="text" v-model="webinar.path_to_webinar"
                        placeholder="Webinar Link"></b-form-input>
                    </b-col>
                    <b-col cols="3">
                        <b-form-timepicker v-model="webinar.time" locale="en"></b-form-timepicker>
                    </b-col>
                    <b-col cols="3">
                        <b-form-input id="webinar" type="date" v-model="webinar.webinar"></b-form-input>
                    </b-col>
                    <b-col>
                        <span
                            v-if="showDeleteButton == true"
                            type="submit" 
                            class="float-left text-danger"
                            style="cursor:pointer"
                            v-b-tooltip.hover title="remove"
                            @click="deleteWebinarForm(index)">
                            <span class="fa fa-times"></span></span>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Module Uploads successfully updated</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button
                            :disabled=submitStatus
                            type="submit" 
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" href="/upload-module-create">Back</a>
                    </b-col>
                </b-row>
                
            </b-container>        
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                course_name: '',
                module_name: '',
                module_text: '',
                external_link: [],
                path_to_vid: [],

                webinars: [
                    { path_to_webinar: '', webinar: '',  time: '' }
                ],

                webinar: '',
                file: [],
                names: [],
                showSuccess: false,
                submitStatus: false,
                originalFilename: '',
                showDeleteButton: false,
                
            }
        },
        mounted(){
            this.getTitle()
            this.getData()
        },

        methods: {

            getTitle: function(){
                axios
                    .get('/module-list-title/' + this.$route.params.mid)
                    .then(response => (
                        this.course_name = response.data.course.name,
                        this.module_name = response.data.name
                    ))
                    .catch(error => console.log(error))

            },

            getData: function(){

                axios
                    .get('/get-update-upload-module/' + this.$route.params.id)
                    .then(response => {

                        this.module_text = response.data.module_text,
                        this.external_link = response.data.external_link,
                        this.path_to_vid = response.data.path_to_vid,
                        this.path_to_webinar = JSON.stringify(this.webinars),
                        this.originalFilename = response.data.names

                        if(response.data.path_to_webinar){
                            this.webinars = JSON.parse(response.data.path_to_webinar)
                        }

                        if(this.webinars.length == 1){
                            this.showDeleteButton = false
                        } else{
                            this.showDeleteButton = true
                        }
                        
                    })
                    .catch(error => console.log(error))

            },

            submit: function(){

                
                var vid = []
                var web = ''
                var addt = ''

                if(this.path_to_vid.length){
                    vid = this.path_to_vid
                }

                if(this.external_link.length){
                    addt = this.external_link
                }

                if(this.webinars[0].path_to_webinar){
                    web = JSON.stringify(this.webinars)
                }

                if(this.file.length != 0){

                    var formData = new FormData()
                    var settings = { headers: { 'content-type': 'multipart/form-data' } }

                    formData.append('module_text', this.module_text)
                    formData.append('external_link', addt)
                    formData.append('path_to_vid', vid)
                    formData.append('path_to_webinar', web)
                    formData.append('webinar', this.webinar)

                    $.each(this.file, function( index, value ) {
                        formData.append('file[]', value, value.name);
                    });

                    axios
                        .post('/edit-upload-module/' + this.$route.params.id, formData, settings)
                        .then(response => (
                            this.showSuccess = true,
                            this.submitStatus = true
                        ))
                        .catch(error => console.log(error))

                } else{

                    axios
                        .post('/edit-upload-module/'  + this.$route.params.id , {
                            module_text: this.module_text,
                            external_link: addt,
                            path_to_vid: vid,
                            path_to_webinar: web,
                            webinar: this.webinar
                        })
                        .then(response => (
                            this.showSuccess = true,
                            this.submitStatus = true
                        ))
                        .catch(error => console.log(error))
                }
                
            },
            
            // method to add Webinar form
            addWebinarForm(){
                this.webinars.push({
                    path_to_webinar: '',
                    webinar: '',
                    time: ''
                })
            },
            // method to delete Webinar form
            deleteWebinarForm(index){
                this.webinars.splice(index, 1)
            }

        },

        webinars: function(val){
            if(val.length == 1){
                this.showDeleteButton = false
            } else{
                this.showDeleteButton = true
            }
        },

    }
</script>