<template>
    <div class="container mt-3">
        <h3><span class="fa fa-bars text-info"></span>&nbsp;Edit Certificate</h3>
        <hr>

        <div class="bulletin-main">
            <b-container fluid>

                <b-row class="bulletin-row" v-if="showNotification == true">
                    <b-col>
                        <b-alert variant="success" v-model="showNotification">
                            * All fields are required</b-alert>
                    </b-col>    
                </b-row>

                <b-row class="bulletin-row" v-else-if="showSuccess == true">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Certtficate successfully updated</b-alert>
                    </b-col>   
                </b-row>

                <b-row class="bulletin-row" v-else-if="showError == true">
                    <b-col>
                        <b-alert variant="danger" v-model="showError">
                            <span class="fa fa-times"></span> All fields are required</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Course</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        {{ course_name }}
                    </b-col>
                </b-row>
                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>File</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-file
                            v-model="file"
                            :state="Boolean(file)"
                            placeholder="Choose a file or drop it here..."
                            drop-placeholder="Drop file here..."
                        ></b-form-file>
                    </b-col>
                    
                </b-row>

                <b-row class="bulletin-row" v-if="file_path">
                    <b-col sm="2">
                        <label style="font-size:x-small;">Uploaded files</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-badge variant="dark">{{ file_path }}</b-badge>                 
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button
                            :disabled=submitStatus
                            type="submit" 
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" href="/manage-course-certificate">Back</a>
                    </b-col>
                </b-row>
                
            </b-container>        
        </div>

    </div>
</template>

<script>

    export default {
        data(){
            return {
                name: '',
                course_name: '',
                file: [],
                file_path: '',
                showSuccess: false,
                showError: false,
                showNotification: true,
                submitStatus: false,
            }
        },
        mounted(){
            this.getData()
        },

        methods: {

            getData(){
                axios
                    .get('/get-course-certificate/' + this.$route.params.id)
                    .then(response => (
                        this.course_name = response.data['course']['name'],
                        this.file_path = response.data['file_path']
                    ))
                    .catch(error => console.log(error))
                    
            },

            submit: function(){

                this.submitStatus = true
                this.showNotification = false

                if(this.selected == '' || this.file == ''){
                    this.showError = true
                    this.submitStatus = false
                } else{

                    var formData = new FormData()
                    var settings = { headers: { 'content-type': 'multipart/form-data' } }

                    formData.append('file', this.file, this.file.name)

                    axios
                        .post('/edit-course-certificate/' + this.$route.params.id, formData, settings)
                        .then(response => (
                            this.showSuccess = true,
                            this.submitStatus = true
                        ))
                        .catch(error => console.log(error))

                }
            },

        },

    }
</script>