<template>
    <div class="container mt-3">
        <h3><span class="fa fa-pencil-ruler text-info"></span>&nbsp;Add Final Exam Questionnaire</h3>
        <hr>

        <div class="upload-module-main">
            <b-container fluid>

                <b-row class="bulletin-row" v-if="showNotification == true">
                    <b-col>
                        <b-alert variant="success" v-model="showNotification">
                            * All fields are required</b-alert>
                    </b-col>    
                </b-row>

                <b-row class="bulletin-row" v-else-if="showSuccess == true">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Final Exam Question successfully saved</b-alert>
                    </b-col>   
                </b-row>

                <b-row class="bulletin-row" v-else-if="showError == true">
                    <b-col>
                        <b-alert variant="danger" v-model="showError">
                            <span class="fa fa-times"></span> All fields are required</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Question</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                            <b-form-textarea
                                id="textarea"
                                v-model="question"
                                rows="5"
                                no-resize
                                >
                            </b-form-textarea>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Answers</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="answers-1" type="text" v-model="answers[0]"></b-form-input>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="3"></b-col>
                    <b-col>
                        <b-form-input id="answers-2" type="text" v-model="answers[1]"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="bulletin-row">
                    <b-col sm="3"></b-col>
                    <b-col>
                        <b-form-input id="answers-3" type="text" v-model="answers[2]"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="bulletin-row">
                    <b-col sm="3"></b-col>
                    <b-col>
                        <b-form-input id="answers-4" type="text" v-model="answers[3]"></b-form-input>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Correct Answer</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-select v-model="selected" :options="answers"></b-form-select>
                    </b-col>
                </b-row>
                
                <b-row class="bulletin-row">
                    <b-col sm="3">
                        <button
                            v-if="showSubmit == true"
                            :disabled=submitStatus
                            type="submit" 
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                        <button
                            v-else
                            class="btn btn-info bulletin-submit" 
                            @click="addNew">Add New Question</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" :href="'/final-exam-questions/' + this.$route.params.id + '/' + this.$route.params.qid + '/' + this.$route.params.cid">Back</a>
                    </b-col>
                </b-row>
                
            </b-container>        
        </div>

    </div>
</template>

<script>

    export default {
        data(){
            return {
                question: '',
                answers: [],
                selected: '',
                description: '',
                showSuccess: false,
                showError: false,
                showNotification: true,
                submitStatus: false,
                showSubmit: true,
            }
        },

        mounted(){

        },

        methods: {

            submit: function(){

                this.submitStatus = true
                this.showNotification = false

                if(this.question == '' || this.answers == '' || this.selected == ''){
                    this.showError = true
                    this.submitStatus = false
                } else{

                    axios
                        .post('/save-final-exam-question', {
                            module_id: this.$route.params.id,
                            question: this.question,
                            answer: this.answers,
                            correct_answer: this.selected,
                        })
                        .then(response => (
                            this.showError = false,
                            this.showSuccess = true,
                            this.showSubmit = false
                        ))
                        .catch(error => console.log(error))

                }

            },

            addNew: function(){
                this.question = ''
                this.answers = []
                this.selected = ''
                this.submitStatus = false
                this.showSubmit = true
                this.showNotification = true
            },

        },

    }
</script>