<template>
    <div class="container mt-3">
        <h3><span class="fa fa-pencil-alt text-info"></span>&nbsp;Final Exam Questionnaire</h3>
        <hr>

        <div class="bulletin-main">

            <b-row>
                <b-col class="top-button" cols=3>
                    <b-button variant="success" :href="'/add-final-exam-question/' + this.$route.params.id + '/' + this.$route.params.qid + '/' + this.$route.params.cid" role="button">Add New Questionnaire</b-button>
                </b-col>
                <b-col class="top-button" cols=3>
                    <b-button variant="warning" :href="'/final-exam-modules/' + this.$route.params.qid + '/' + this.$route.params.cid" role="button">Back to Module List</b-button>
                </b-col>
            </b-row>

            <b-row>
                <b-col v-if="data" class="table" id="bulletin-table">
                    <b-table 
                        striped hover 
                        :fields="fields" 
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-primary" :href="'/edit-final-exam-question/' + data.item.id + '/' + mid + '/' + qid + '/' + cid" role="button">Edit</b-button>
                            <b-button variant="outline-danger" v-on:click="deleteQuestion(data.item.id)">Delete</b-button>
                        </template>
                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>
                </b-col>

                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                fields: [
                    {key:'question', thClass:'student-course-title-width'},
                    {key:'actions', thClass:'text-center', tdClass:'text-center'},
                ],
                perPage: 3,
                currentPage: 1,
                showNoData: false,
                mid: this.$route.params.id,
                qid: this.$route.params.qid,
                cid: this.$route.params.cid
            }
        },
        
        mounted(){
            this.getData()
            if(this.data.length == 0){
                this.showNoData = true
            }
        },

        methods:{

            getData(){
                axios
                    .get('/final-exam-questions-data/' + this.$route.params.id)
                    .then(response => (
                        this.data = response.data
                    ))
            },

            deleteQuestion(id){

                this.$bvModal
                    .msgBoxConfirm('Do you want to delete this record?.', {
                        title: 'Please Confirm',
                        size: 'sm',
                        buttonSize: 'sm',
                        okVariant: 'danger',
                        okTitle: 'YES',
                        cancelTitle: 'NO',
                        footerClass: 'p-2',
                        hideHeaderClose: false,
                        centered: true
                    })
                    .then(value => {
                        if(value){
                            axios
                                .get('/delete-final-exam-question/' + id)
                                .then(response => (
                                    this.$bvModal
                                        .msgBoxOk('Record deleted', {
                                            title: 'Deleted',
                                            size: 'sm',
                                            buttonSize: 'sm',
                                            okVariant: 'success',
                                            headerClass: 'p-2 border-bottom-0',
                                            footerClass: 'p-2 border-top-0',
                                            centered: true
                                        })
                                        .then(value => {
                                            this.getData()
                                        })
                                        .catch(err => {
                                            console.log(err)
                                        })
                                ))

                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })

            },

        },

        computed: {
            rows() {
                return this.data.length
            }
        },

    }
</script>