<template>
    <div class="container mt-3">
        <h3><span class="fa fa-laptop text-info"></span>&nbsp;Edit Randomize Question</h3>
        <hr>
    
        <div class="bulletin-main">
            <b-container fluid>

                <b-row class="bulletin-row" v-if="showNotification == true">
                    <b-col>
                        <b-alert variant="success" v-model="showNotification">
                            * All fields are required</b-alert>
                    </b-col>    
                </b-row>

                <b-row class="bulletin-row" v-else-if="showSuccess == true">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Randomize Question successfully updated</b-alert>
                    </b-col>   
                </b-row>

                <b-row class="bulletin-row" v-else-if="showError == true">
                    <b-col>
                        <b-alert variant="danger" v-model="showError">
                            <span class="fa fa-times"></span> All fields are required</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="4">
                        <label>Number of Randomized Questions</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-col class="col-no-padding">
                            <b-form-input
                                required
                                id="randomized" 
                                type="number" 
                                v-model="randomized">
                            </b-form-input>
                        </b-col>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button
                            :disabled=submitStatus
                            type="submit" 
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" :href="'/final-exam-modules/' + qid + '/' + cid">Back</a>
                    </b-col>
                </b-row>
                
            </b-container>        
        </div>

    </div>
</template>

<script>

    export default {
        data(){
            return {
                randomized: '',
                showSuccess: false,
                showError: false,
                showNotification: true,
                submitStatus: false,
                qid: this.$route.params.qid,
                cid: this.$route.params.cid,
            }
        },
        mounted(){

        },

        methods: {

            submit: function(){

                this.submitStatus = true
                this.showNotification = false

                if(this.name == '' || this.description == '' || this.outline == ''){
                    this.showError = true
                    this.submitStatus = false
                } else{
                    axios
                        .post('/save-randon-exam-module', {
                            module_id: this.$route.params.mid,
                            randomized: this.randomized
                        })
                        .then(response => (
                            this.showError = false,
                            this.showSuccess = true
                        ))
                        .catch(error => console.log(error))
                }

            },

        },

    }
</script>