.container-margin{
    margin-top: 2%;
}

.navbar{
    background-color: #1f5aa6!important;
}

.navbar-light .navbar-brand {
    color:white!important;
}

.nav-link {
    color: rgb(255, 255, 255)!important;
}

.nav-link:hover {
    color: rgb(253, 221, 37)!important;
}

.v-sidebar-menu {
    background-color: rgb(112, 112, 112)!important;
}


.v-sidebar-menu .vsm--title {
    text-shadow: 1px 1px black !important;
}

.header-class{
    margin-left: 0!important;
    padding-left: 0!important;
}

.header-logo{
    width: 55px;
    margin-right: 5px;
}

.nav-item.dropdown{
    margin-left: 45%!important;
}

.py-1{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(245, 255, 255);
}
