body, html {
    height: 100%;
}

.full-height {
    height: 100%;
}

.card{
    margin: 10px 0!important;
}

/****************************** Sidebar **********************************************/

/* .v-sidebar-menu {
    margin-top: 60px;
    height: 90vh;
} */

.main-content{
    margin-left: 350px;
}

.main-content-collapsed{
    margin-left: 50px;
}

.v-sidebar-menu .vsm--link_hover {
    color: rgb(253, 221, 37)!important;
}

.v-sidebar-menu .vsm--link_hover .vsm--icon{
    color: rgb(253, 221, 37)!important;
    font-size: 20px;
}

.v-sidebar-menu .router-link-exact-active{
    color: rgb(253, 221, 37)!important;  
}

.v-sidebar-menu .router-link-exact-active .vsm--icon{
    color: rgb(253, 221, 37)!important;  
}

.vsm--toggle-btn:hover{
    color: rgb(253, 221, 37)!important;
}
/****************************** Dashboard **********************************************/

.dashboard-main{
    /* overflow: scroll; */
    height: 85vh;
}

.dashboard-box{
    border: 0.5px solid #b9b9b9;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.dashboard-box .day{
    font-weight: bold;
    margin-right: 5px;
}

.dashboard-box .title{
    font-weight: bold;
    font-size: large;
    border-left: 0.5px solid #b9b9b9;
}

.dashboard-box .schedule{
    font-size: small;
    margin-right: 5px;
}

.dashboard-box .remarks{
    font-size: small;
    border-left: 0.5px solid #b9b9b9;
}

.dashboard-box .back-mon{
    background-color: rgba(255, 70, 57, 0.3);
}

.dashboard-box .back-tue{
    background-color: rgba(255, 192, 55, 0.3);
}

.dashboard-box .back-wed{
    background-color: rgba(255, 255, 21, 0.3);
}

.dashboard-box .back-thu{
    background-color: rgba(79, 255, 237, 0.3);
}

.dashboard-box .back-fri{
    background-color: rgba(52, 235, 217, 0.3);
}

.dashboard-box .back-sat{
    background-color: rgba(52, 110, 235, 0.3);
}

.dashboard-box .back-sun{
    background-color: rgba(47, 0, 255, 0.3);
}

.nav-item.dropdown {
    margin-left: 0!important;
}
/****************************** Approve Request ***************************************/

.name-header{
    width:40%;
}

.email-header{
    width:30%;
}

.contact-header{
    width:20%;
}

.contact-td{
    padding-left: 30px!important;
}

.action-header{
    text-align: center;
    width:10%;
}

/****************************** Bulletin **********************************************/

.bulletin-main{
    display: relative;
    border: 1px solid #afafaf;
    padding: 30px;
}

.bulletin-main .no-record{
    margin: 50px;
}

.bulletin-main .table{
    margin-top: 10px;
}

.dateTimePicker{
    position: relative;
}

.bulletin-row{
    margin: 20px;
}

.bulletin-submit{
    width: 100%;
}


/****************************** Chatbox **********************************************/

.chat-app{
    display: flex;
    border: 1px solid #afafaf;
}

.conversation{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.conversation h1{
    font-size: 15px;
    padding: 10px;
    margin: 0;
    border-bottom: 1px dashed #afafaf;

}

.contact-list{
    flex: 2;
    min-height: 500px;
    overflow: scroll;
    border-left: 1px solid #afafaf;
    border-right: 1px solid #afafaf;;
    border-bottom: 1px solid #afafaf;

}

.contact-list ul {
    list-style-type: none;
    padding-left: 0;
}

.contact-list ul li{
    padding: 5px;
    border-bottom: 1px solid #b1b1b1;
    height: 80px;
    position: relative;
    cursor: pointer;
}

.contact-list ul li.selected{
    background-color: #c7c7c7;
}

.contact-list ul li .contact{
    font-size: 12px;
    overflow: hidden;
    margin: 10px 0 0 5px;
}

.contact-list ul li .contact p{
    margin: 0;
}

.contact-list ul li .contact .name{
    font-weight: bold;
}

.composer textarea{
    width: 96%;
    margin: 10px;
    resize: none;
    border-radius: 3px;
    border: 1px solid #b1b1b1;
    padding: 6px;
}

.feed{
    background-color: #ebebeb;
    height: 100%;
    max-height: 380px;
    overflow: scroll;
}

.feed ul{
    list-style: none;
    padding: 5px;
}

.feed ul .message{
    margin: 10px 0;
    width: 100%;
}

.feed ul .message .text{
    max-width: 400px;
    border-radius: 5px;
    padding: 12px;
    display: inline-block;
}

.feed ul .message.received{
    text-align: right;
    width: 100%;
}

.feed ul .message.received .text{
    background: #d1d1d1;
}

.feed ul .message.sent{
    text-align: left;
    width: 100%;
}

.feed ul .message.sent .text{
    background: #8fc9ff;
}

/****************************** Lecture **********************************************/

.title-width{
    width: 30%;
}

.remarks-width{
    width: 30%;
}

.title-student-width{
    width: 40%;
}

.remarks-student-width{
    width: 40%;
}

/****************************** About **********************************************/

.about-title{
    padding: 20px;
    font-size: large;
    font-weight: 500;
}

.about-content{
    text-align: justify;
}

.about-title-width{
    width: 70%;
}

.about-main{
    overflow: scroll;
    height: 83vh;
}

/****************************** TipTap **********************************************/

.rich-text-menu{
    border: 1px solid rgb(192, 192, 192);
    text-align: center;
    padding: 3px;
}

.ProseMirror{
    border: 1px solid rgb(192, 192, 192);
    overflow: scroll;
    max-height: 180px;
}

/****************************** About **********************************************/

.assignment-list-title-width{
    width: 50%;
}

.assignment-list-active-width{
    width: 10%;
    text-align: center;
}

/****************************** View Assignment **********************************************/

.view-assignment-title-width{
    width: 30%;
}

.view-assignment-remarks-width{
    width: 30%;
}

.view-assignment-review-width{
    width: 10%;
    text-align: center;
}

/****************************** View Assignment **********************************************/

.upload-module-main{
    border: 1px solid #afafaf;
    overflow: scroll;
    height: 82vh;
}

/****************************** Course Main **********************************************/

.course-main-title{
    /* padding: 2%; */
    font-weight: bold;
}

.course-main-desc{
    padding-left: 2%;
}

.course-main{
    border: 1px solid #c5c5c5;
    overflow: scroll;
    height: 80vh;
    padding: 10px 5px;
}

.course-main-module{
    border: 1px solid #c5c5c5;
    overflow: scroll;
    height: 68vh;
}

.pre{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
    font-size: 0.8rem;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.course-main-p{
    font-weight: bold;
    font-size: small;
}

.course-main-modules-col{
    padding: 0!important;
}

.module-button{
    width: 100%;
}

.module-box{
    border: 0.5px solid #b9b9b9;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 10px;
}

.wizard-nav-pills{
    display:none!important;
}

.wizard-progress-with-circle{
    display:none;
}

/*************** Quiz ********************************/

.check-ans-button{
    background-color: rgb(231, 76, 60);
    border-color: rgb(231, 76, 60);
    color: white;
}

/************** Login **********************************/

.back-login-page{
    background-image: url('/img/login-back.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-page-box{
    /* position:absolute; */
    /* width:150px; */
    /* height:150px; */
    /* left:25%;
    top:30%;
    margin-left:-50px;
    margin-top:-50px; */
    border: 1px solid #7c7c7c;
    border-style: dotted;
    /* border-radius: 1em; */
    padding: 2%;
}

.login-img{
    width: 75%;
}

.login-lms-text{
    font-size: xx-large;
    font-weight: 500;
    color: cornsilk;
    text-shadow: 4px 4px 5px rgb(21, 30, 156);
}

.login-padding-top{
    padding-top: 5%;
}

.registration-textbox{
    margin: 10px 0px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.col-no-padding{
    padding: 0;
}


/********************************* Student Course List ****************************************/

.student-course-title-width{
    width: 80%;
}

/********************************* Vue Form Wizard *******************************************/

.bv-no-focus-ring{
    padding-left: 40%;
    font-size: large;
}

.form-wizard-question{
    padding-left: 30%;
    font-size: large;    
}

.pre-message{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
    font-size: 1rem;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding-top: 10px;
}

.pre-message-final{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
    font-size: 1.2rem;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding-top: 10px;
}

/***************************************** Enroll Student ********************************/

.enroll-student-width{
    width: 40%;
}

/***************************************** Manage Certificates ********************************/

.course-manage-certificate-width{
    width: 60%;
}

/***************************************** Manage Certificates ********************************/

.student-laboratory-manual-width{
    width: 70%;
}