<template>
    <div class="container mt-3">
        <h3><span class="fa fa-book-open text-info"></span>&nbsp;Add New Lecture</h3>
        <hr>

        <div class="bulletin-main">
            <b-container fluid>

                <b-row class="bulletin-row">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Lecture successfully saved</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">Publish</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-checkbox v-model="publish" name="check-button" switch size="lg">
                        </b-form-checkbox>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">Title</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="title" type="text" v-model="title"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">Remarks</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="remarks" type="text" v-model="remarks"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">File</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-file
                            multiple
                            v-model="file"
                            :state="Boolean(file)"
                            placeholder="Choose a file or drop it here..."
                            drop-placeholder="Drop file here..."
                            accept=".doc, .docx, .pdf, .xls, .xlsx, .ppt, .pptx"
                        >
                        <template slot="file-name" slot-scope="{ names }">
                            <b-badge variant="dark">{{ names[0] }}</b-badge>
                            <b-badge v-if="names.length > 1" variant="dark" class="ml-1">
                            + {{ names.length - 1 }} More files
                            </b-badge>
                        </template>
                        
                        </b-form-file>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button
                            :disabled=submitStatus
                            type="submit"
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" href="/lecture-admin">Back</a>
                    </b-col>
                </b-row>
                
            </b-container>        
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                title:'',
                remarks: '',
                publish: '',
                showSuccess: false,
                file: [],
                names: [],
                submitStatus: false,
            }
        },
        mounted(){
            // this.getRole()
        },

        methods: {
            submit: function(){
                var formData = new FormData()
                var settings = { headers: { 'content-type': 'multipart/form-data' } }

                formData.append('title', this.title)
                formData.append('remarks', this.remarks)

                if(this.publish === true){
                    formData.append('publish', 1)
                } else{
                    formData.append('publish', 0)
                }

                $.each(this.file, function( index, value ) {
                    formData.append('file[]', value, value.name);
                });

                axios
                    .post('/lecture', formData, settings)
                    .then(response => (
                        this.showSuccess = true,
                        this.submitStatus = true
                    ))
                    .catch(error => console.log(error))
            },

        },

    }
</script>