<template>
    <div>

        <div class="bulletin-main">

            <b-row>
                <b-col v-if="data" class="table" id="bulletin-table">
                    <b-table 
                        striped hover 
                        :fields="fields" 
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-primary" :href="'/download-lecture/' + data.item.id" role="button">Download</b-button>
                        </template>
                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>
                </b-col>

                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                fields: [
                    {key:'title', thClass:'title-student-width'},
                    {key:'remarks', thClass:'remarks-student-width'},
                    {key:'actions', thClass:'text-center', tdClass:'text-center'}, 
                ],
                perPage: 3,
                currentPage: 1,
                showNoData: false,
            }
        },
        
        mounted(){
            this.getData()
            if(this.data.length == 0){
                this.showNoData = true
            }
        },

        methods:{

            getData(){
                axios
                    .get('/lecture')
                    .then(response => (
                        this.data = response.data
                    ))
            },

            deleteLecture(id){

                // axios
                //     .get('/lecture/' + id)
                //     .then(response => (
                //         this.$bvModal
                //             .msgBoxOk('Record deleted', {
                //                 title: 'Deleted',
                //                 size: 'sm',
                //                 buttonSize: 'sm',
                //                 okVariant: 'success',
                //                 headerClass: 'p-2 border-bottom-0',
                //                 footerClass: 'p-2 border-top-0',
                //                 centered: true
                //             })
                //             .then(value => {
                //                 this.getData()
                //             })
                //             .catch(err => {
                //                 console.log(err)
                //             })
                //     ))

            }

        },

        computed: {
            rows() {
                return this.data.length
            }
        }

    }
</script>