<template>
    <div class="container mt-3">
        <h3><span class="fa fa-university text-info"></span>&nbsp;About</h3>
        <hr>
        
        <div class="bulletin-main">

            <b-row>
                <b-col class="top-button">
                    <b-button variant="success" href="/add-about" role="button">
                    <span class="fa fa-plus-square"></span> Add About Block</b-button>
                    <b-button variant="info" href="/about-page" role="button">
                    <span class="fa fa-eye"></span> Preview About</b-button>
                </b-col>
            </b-row>

            <b-row>
                <b-col v-if="data" class="table" id="about-table">
                    <b-table 
                        striped hover 
                        :fields="fields" 
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-primary" :href="'/edit-about/' + data.item.id" role="button">Edit</b-button>
                            <b-button variant="outline-danger" v-on:click="deleteAbout(data.item.id)">Delete</b-button>
                        </template>

                        <template v-slot:cell(published)="data" thead-tr-class="center">
                            <b-badge variant="warning" v-if="data.item.publish == 1">Yes</b-badge>
                            <b-badge variant="dark" v-else>No</b-badge>
                        </template>
                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>
                </b-col>

                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                fields: [
                    {key:'title', thClass:'about-title-width'},
                    // {key:'remarks', thClass:'remarks-width'},
                    {key:'actions', thClass:'text-center', tdClass:'text-center'}, 
                    // {key:'published', thClass:'text-center', tdClass:'text-center'}
                ],
                perPage: 3,
                currentPage: 1,
                showNoData: false,
            }
        },
        
        mounted(){
            this.getData()
            if(this.data.length == 0){
                this.showNoData = true
            }
        },

        methods:{

            getData(){
                axios
                    .get('/about')
                    .then(response => (
                        this.data = response.data
                    ))
            },

            deleteAbout(id){

                this.$bvModal
                    .msgBoxConfirm('Do you want to delete this record?.', {
                        title: 'Please Confirm',
                        size: 'sm',
                        buttonSize: 'sm',
                        okVariant: 'danger',
                        okTitle: 'YES',
                        cancelTitle: 'NO',
                        footerClass: 'p-2',
                        hideHeaderClose: false,
                        centered: true
                    })
                    .then(value => {
                        if(value){
                            axios
                                .delete('/about/' + id)
                                .then(response => (
                                    this.$bvModal
                                        .msgBoxOk('Record deleted', {
                                            title: 'Deleted',
                                            size: 'sm',
                                            buttonSize: 'sm',
                                            okVariant: 'success',
                                            headerClass: 'p-2 border-bottom-0',
                                            footerClass: 'p-2 border-top-0',
                                            centered: true
                                        })
                                        .then(value => {
                                            this.getData()
                                        })
                                        .catch(err => {
                                            console.log(err)
                                        })
                                ))

                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })

            }

        },

        computed: {
            rows() {
                return this.data.length
            }
        }

    }
</script>