<template>
    <div class="container mt-3">
        <h3><span class="fa fa-plus-square text-info"></span>&nbsp;Add About Block</h3>
        <hr>
        
        <div class="bulletin-main">
            <b-container fluid>

                <b-row class="bulletin-row">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> About Block successfully saved</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">Title</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="title" type="text" v-model="title"></b-form-input>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">Content:</label>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col>
                        <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }" class="rich-text-menu">
                        <div class="menubar">

                            <button
                            class="menubar__button"
                            :class="{ 'is-active': isActive.bold() }"
                            @click="commands.bold"
                            >
                            <i class="fa fa-bold"></i>
                            </button>

                            <button
                            class="menubar__button"
                            :class="{ 'is-active': isActive.italic() }"
                            @click="commands.italic"
                            >
                            <i class="fa fa-italic"></i>
                            </button>

                            <button
                            class="menubar__button"
                            :class="{ 'is-active': isActive.strike() }"
                            @click="commands.strike"
                            >
                            <i class="fa fa-strikethrough"></i>
                            </button>

                            <button
                            class="menubar__button"
                            :class="{ 'is-active': isActive.underline() }"
                            @click="commands.underline"
                            >
                            <i class="fa fa-underline"></i>
                            </button>

                            <button
                            class="menubar__button"
                            :class="{ 'is-active': isActive.paragraph() }"
                            @click="commands.paragraph"
                            >
                            <i class="fa fa-paragraph"></i>
                            </button>

                            <button
                            class="menubar__button"
                            :class="{ 'is-active': isActive.heading({ level: 1 }) }"
                            @click="commands.heading({ level: 1 })"
                            >
                            H1
                            </button>

                            <button
                            class="menubar__button"
                            :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                            @click="commands.heading({ level: 2 })"
                            >
                            H2
                            </button>

                            <button
                            class="menubar__button"
                            :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                            @click="commands.heading({ level: 3 })"
                            >
                            H3
                            </button>

                            <button
                            class="menubar__button"
                            :class="{ 'is-active': isActive.bullet_list() }"
                            @click="commands.bullet_list"
                            >
                            <i class="fa fa-list-ul"></i>
                            </button>

                            <button
                            class="menubar__button"
                            :class="{ 'is-active': isActive.ordered_list() }"
                            @click="commands.ordered_list"
                            >
                            <i class="fa fa-list-ol"></i>
                            </button>

                            <button
                            class="menubar__button"
                            :class="{ 'is-active': isActive.blockquote() }"
                            @click="commands.blockquote"
                            >
                            <i class="fa fa-quote-right"></i>
                            </button>

                            <button
                            class="menubar__button"
                            @click="commands.horizontal_rule"
                            >
                            <i class="fa fa-grip-lines"></i>
                            </button>

                            <button
                            class="menubar__button"
                            @click="commands.undo"
                            >
                            <i class="fa fa-undo"></i>
                            </button>

                            <button
                            class="menubar__button"
                            @click="commands.redo"
                            >
                            <i class="fa fa-redo"></i>
                            </button>

                        </div>
                        </editor-menu-bar>

                        <editor-content class="editor__content" :editor="editor" />
                    </b-col>
                </b-row>


                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button
                            :disabled=submitStatus
                            type="submit" 
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" href="/about-content-admin">Back</a>
                    </b-col>
                </b-row>
                
            </b-container>        
        </div>
    </div>
</template>

<script>
    import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
    import {
        Blockquote,
        HardBreak,
        Heading,
        HorizontalRule,
        OrderedList,
        BulletList,
        ListItem,
        TodoItem,
        TodoList,
        Bold,
        Italic,
        Link,
        Strike,
        Underline,
        History,
    } from 'tiptap-extensions'

    export default {

        components: {
            EditorMenuBar,
            EditorContent,
        },

        data(){
            return {
                title:'',
                content: '',
                order: '',
                selected: '',
                showSuccess: false,
                editor: new Editor({
                extensions: [
                    new Blockquote(),
                    new BulletList(),
                    new HardBreak(),
                    new Heading({ levels: [1, 2, 3] }),
                    new HorizontalRule(),
                    new ListItem(),
                    new OrderedList(),
                    new TodoItem(),
                    new TodoList(),
                    new Link(),
                    new Bold(),
                    new Italic(),
                    new Strike(),
                    new Underline(),
                    new History(),
                ],
                onUpdate: ({ getHTML }) => {
                    this.html = getHTML()
                },
                }),
                submitStatus: false,
            }
        },
        mounted(){

        },

        beforeDestroy() {
            this.editor.destroy()
        },

        methods: {
            submit: function(){
                axios
                    .post('/about', {
                        title: this.title,
                        content: this.html,
                        order: this.selected

                    })
                    .then(response => (
                        this.showSuccess = true,
                        this.submitStatus = true
                    ))
                    .catch(error => console.log(error))
            },

        },

    }
</script>