<template>
    <div class="bulletin-main">
        <b-container fluid>

            <b-row class="bulletin-row">
                <b-col>
                    <b-alert variant="success" v-model="showSuccess">Assignment successfully updated.</b-alert>
                </b-col>
            </b-row>

            <b-row class="bulletin-row">
                <b-col sm="1">
                    <label>Title</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                    <b-form-select v-model="selected" :options="options"></b-form-select>
                </b-col>
            </b-row>
            <b-row class="bulletin-row">
                <b-col sm="1">
                    <label>Remarks</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                    <b-form-input id="remarks" type="text" v-model="remarks"></b-form-input>
                </b-col>
            </b-row>
            <b-row class="bulletin-row">
                <b-col sm="1">
                    <label>File</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                    <b-form-file
                        v-model="file"
                        :state="Boolean(file)"
                        :placeholder="originalFilename"
                    ></b-form-file>
                </b-col>
            </b-row>

            <b-row class="bulletin-row">
                <b-col sm="2">
                    <button 
                        :disabled=submitStatus
                        type="submit" 
                        class="btn btn-primary bulletin-submit" 
                        @click="submit">Submit
                    </button>
                </b-col>
                <b-col sm="2">
                    <a class="btn btn-primary bulletin-submit" href="/student-assignment">Back</a>
                </b-col>
            </b-row>
            
        </b-container>        
    </div>
</template>

<script>

    export default {
        data(){
            return {
                remarks: '',
                selected: '',
                options: [],
                showSuccess: false,
                file: [],
                submitStatus: false,
                originalFilename: '',
            }
        },
        mounted(){
            this.getAssignmentTitle()
            this.getData()
        },

        methods: {
            getData(){
                axios
                    .get('/assignment/' + this.$route.params.id)
                    .then(response => (
                        this.selected = response.data['title_id'],
                        this.remarks = response.data['remarks'],
                        this.originalFilename = response.data['path']
                    ))
                    .catch(error => console.log(error))
                    
            },

            getAssignmentTitle: function(){
                axios
                    .get('/assignment-titles')
                    .then(response => (
                        this.options = response.data
                    ))
                    .catch(error => console.log(error))

            },

            submit: function(){

                if(this.file.length != 0){

                    var formData = new FormData()
                    var settings = { headers: { 'content-type': 'multipart/form-data' } }

                    formData.append('title_id', this.selected)
                    formData.append('remarks', this.remarks)
                    formData.append('file', this.file, this.file.name)

                    axios
                        .post('/edit-assignment/'  + this.$route.params.id , formData, settings)
                        .then(response => (
                            this.showSuccess = true,
                            this.submitStatus = true
                        ))
                        .catch(error => console.log(error))

                } else{

                    axios
                        .post('/edit-assignment/'  + this.$route.params.id , {
                            title_id: this.selected,
                            remarks: this.remarks,                            
                        })
                        .then(response => (
                            this.showSuccess = true,
                            this.submitStatus = true
                        ))
                        .catch(error => console.log(error))
                }
                
            },

        },

    }
</script>