<template>
    <div class="bulletin-main">
        <b-container fluid>

            <b-row class="bulletin-row">
                <b-col>
                    <b-alert variant="success" v-model="showSuccess">Assignment correction successfully saved</b-alert>
                </b-col>
            </b-row>


            <b-row class="bulletin-row">
                <b-col sm="1">
                    <label>File</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                    <b-form-file
                        v-model="file"
                        :state="Boolean(file)"
                        placeholder="Choose a file or drop it here..."
                        drop-placeholder="Drop file here..."
                    ></b-form-file>
                </b-col>
            </b-row>

            <b-row class="bulletin-row">
                <b-col sm="2">
                    <button
                        :disabled=submitStatus
                        type="submit" 
                        class="btn btn-primary bulletin-submit" 
                        @click="submit">Submit</button>
                </b-col>
                <b-col sm="2">
                    <a class="btn btn-primary bulletin-submit" :href="'/assignment-admin/' + this.$route.params.aid">Back</a>
                </b-col>
            </b-row>
            
        </b-container>        
    </div>
</template>

<script>

    export default {
        data(){
            return {
                remarks: '',
                selected: '',
                options: [],
                showSuccess: false,
                file: [],
                submitStatus: false,
            }
        },
        mounted(){

        },

        methods: {

            submit: function(){
                var formData = new FormData()
                var settings = { headers: { 'content-type': 'multipart/form-data' } }

                formData.append('file', this.file, this.file.name)
                axios
                    .post('/upload-assignment-review/' + this.$route.params.id + '/' + this.$route.params.aid, formData, settings)
                    .then(response => (
                        this.showSuccess = true,
                        this.submitStatus = true
                    ))
                    .catch(error => console.log(error))
            },

        },

    }
</script>