<template>
    <div class="back-login-page d-flex align-items-center">

        <b-container fluid>

            <b-row>

                <b-col md="8" offset-md="2">

                    <b-row align-h="center" class="login-page-box"> 
                        <b-col cols="6" class="text-center">
                            <b-img src="/img/logo.png" class="login-img"></b-img>
                            <p class="login-lms-text">Learning Management System</p>
                        </b-col>

                        <b-col cols="6">
                            <router-view></router-view>
                        </b-col>
                    </b-row>

                </b-col>

            </b-row>

        </b-container>

    </div>

</template>
