<template>

  <div class="full-height">
      
    <b-card>
      <b-card-body>
        <b-card-title class="text-center">Login</b-card-title>

        <p class="text-danger text-center" v-if="isError">{{message}}</p>
        <p class="text-info text-center" v-else>{{message}}</p>
        

        <b-form>
          <b-input-group class="mb-2">
            <b-input-group-prepend is-text>
              <i class="fa fa-envelope-open"></i>
            </b-input-group-prepend>

            <b-form-input
              type="text"
              placeholder="Email Address"
              v-model="form.email"
              required
            ></b-form-input>
            
          </b-input-group>

          <b-input-group class="mb-2">
            <b-input-group-prepend is-text>
              <i class="fa fa-lock"></i>
            </b-input-group-prepend>

            <b-form-input
              type="password"
              placeholder="Password"
              v-model="form.password"
              required
            ></b-form-input>
            
          </b-input-group>

          <b-button
            block 
            variant="outline-primary"
            @click="onSubmit">Login</b-button>

        </b-form>

        <b-container class="login-padding-top">
          <b-row class="text-center">
            <!-- <b-col>
              <b-link href="/registration">Register Here</b-link>
            </b-col> -->
            <b-col>
              <b-link href="/reset-password-request">Forgot/Change Password</b-link>
            </b-col>
          </b-row>
        </b-container>


      </b-card-body>
    </b-card>

  </div>

</template>

<script>
  export default {
    data() {
      return {
        form: {
          email: '',
          password: '',
        },
        message: "Please fill up your login credentials",
        isError: null,
      }
    },
    beforeCreate(){
      axios
          .get('/check-auth')
          .then(response => {
              if(response.data.status == 1){
                  this.$router.push('/dashboard')
              }
          })
          .catch(error => console.log(error))
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault()

        if(this.form.email == ''){
          this.message = "Please enter your email address"
        } else if(this.form.password == ''){
          this.message = "Please enter your password"
        } else{
            axios
            .post('/check-login', {
                email: this.form.email,
                password: this.form.password,
            })
            .then(response => {
              if(response.data.status == 0){
                this.message = response.data.message
                this.isError = 1
              } else{
                this.$router.push('/dashboard')
              }
            })
            .catch(error => console.log(error))
        }
      },
    }
  }
</script>