<template>
    <div class="full-height">
        
      <b-card>
        <b-card-body>
          <b-card-title class="text-center">Register</b-card-title>

          <p class="text-danger text-center" v-if="isError">{{message}}</p>
          <p class="text-info text-center" v-else>{{message}}</p>
          
          <b-form>
              <b-row class="bulletin-row registration-textbox">
                <b-col class="col-no-padding">
                  <b-form-input
                    required
                    id="first-name" 
                    type="text" 
                    v-model="first_name"
                    placeholder="First Name"></b-form-input>
                </b-col>
              </b-row>

              <b-row class="bulletin-row registration-textbox">
                <b-col class="col-no-padding">
                  <b-form-input
                    required
                    id="middle-name" 
                    type="text" 
                    v-model="middle_name"
                    placeholder="Middle Name"></b-form-input>
                </b-col>
              </b-row>

              <b-row class="bulletin-row registration-textbox">
                <b-col class="col-no-padding">
                  <b-form-input
                    required
                    id="last-name" 
                    type="text" 
                    v-model="last_name"
                    placeholder="Last Name"></b-form-input>
                </b-col>
              </b-row>

              <b-row class="bulletin-row registration-textbox">
                <b-col class="col-no-padding">
                  <b-form-input
                    required
                    id="contact-number" 
                    type="number" 
                    v-model="contact_num"
                    placeholder="Contact Number"></b-form-input>
                </b-col>
              </b-row>

              <b-row class="bulletin-row registration-textbox">
                <b-col class="col-no-padding">
                  <b-form-input
                    required
                    id="email" 
                    type="email" 
                    v-model="email"
                    placeholder="Email Address"></b-form-input>
                </b-col>
              </b-row>

            <b-button
              v-if="isRegistered == false"
              block 
              variant="outline-primary"
              @click="submit">Register</b-button>

            <b-button
              v-else
              block 
              variant="outline-primary"
              @click="backToLogin">Back to Login Page</b-button>

          </b-form>

        </b-card-body>
      </b-card>

    </div>

</template>

<script>
  export default {
    data() {
      return {
        first_name: '',
        middle_name: '',
        last_name: '',
        contact_num: '',
        email: '',
        message: "Note: All fields are required",
        isError: true,
        isRegistered: false,
      }
    },
    methods: {
      submit: function  (){
        axios
          .post('/register-user', {
            first_name: this.first_name,
            middle_name: this.middle_name,
            last_name: this.last_name,
            contact_num: this.contact_num,
            email: this.email,
            user_level: this.selected 
          })
          .then(response => {

            if(response.data.status){
              this.isError = null
              this.isRegistered = true
            }

            this.message = response.data.message

          })
          .catch(error => console.log(error))
      },

      backToLogin: function  (){
        this.$router.push('/')
      },

    }
  }
</script>