<template>
    <div class="full-height">
        
      <b-card>
        <b-card-body>
          <b-card-title class="text-center">Reset Password</b-card-title>

          <p class="text-danger text-center" v-if="isError == true">{{message}}</p>
          <p class="text-info text-center" v-else>{{message}}</p>
          
          <b-form v-if=showForm>

            <b-row class="bulletin-row registration-textbox">
              <b-col class="col-no-padding">
                <b-form-input
                  type="password"
                  placeholder="Enter Password"
                  v-model="password"
                  required
                ></b-form-input>
              </b-col>
            </b-row>

            <b-row class="bulletin-row registration-textbox">
              <b-col class="col-no-padding">
                <b-form-input
                  type="password"
                  placeholder="Confirm Password"
                  v-model="confirmPassword"
                  required
                ></b-form-input>
              </b-col>
            </b-row>

            <b-row>
              <b-col>
                <b-button
                  block 
                  variant="outline-primary"
                  :disabled="changePasswordDisable"
                  @click="submit">Change Password</b-button>
              </b-col>

              <b-col>
                <b-button
                  block 
                  variant="outline-primary"
                  @click="backToLogin">Back to Login Page</b-button>
              </b-col>
            </b-row>

          </b-form>



        </b-card-body>
      </b-card>

    </div>

</template>

<script>
  export default {
    data() {
      return {
        password: '',
        confirmPassword: '',
        message: "",
        isError: false,
        changePasswordDisable: false,
        showForm: false,
      }
    },

    mounted() {
      this.check()
    },

    methods: {

      check: function  (){

        axios
          .post('/check-reset-request', {
              check: this.$route.params.code
          })
          .then(response => {

            this.message = response.data.message

            if(response.data.status == 0){
              this.isError = 1
            } else{
              this.showForm = true
              this.isError = 0
            }
          })
          .catch(error => console.log(error))

      },

      submit: function  (){

        if(this.password === this.confirmPassword){

          this.message = "Please wait ...........",
          this.changePasswordDisable = true

          axios
            .post('/change-password', {
              code: this.$route.params.code,
              password: this.password
            })
            .then(response => {

              if(response.data.status){
                this.isError = false
              } else{
                this.isError = true
              }

              this.message = response.data.message

            })
            .catch(error => console.log(error))

        } else{

          this.message = "Password and Confirm Password should be equal."
          this.isError = true

        }

      },

      backToLogin: function  (){
        this.$router.push('/')
      },

    }
  }
</script>