<template>
    <div class="full-height">
        
      <b-card>
        <b-card-body>
          <b-card-title class="text-center">Reset Password</b-card-title>

          <p class="text-danger text-center" v-if="isError == true">{{message}}</p>
          <p class="text-info text-center" v-else>{{message}}</p>
          
          <b-form>

              <b-row class="bulletin-row registration-textbox">
                <b-col class="col-no-padding">
                  <b-form-input
                    required
                    id="email" 
                    type="email"
                    v-model="email"
                    placeholder="Email Address"
                    style="margin: 40px 0;"></b-form-input>
                </b-col>
              </b-row>

          </b-form>


          <b-row>
            <b-col>
              <b-button
                block 
                variant="outline-primary"
                :disabled="resetButtonDisable"
                @click="submit">Send Reset Link</b-button>
            </b-col>

            <b-col>
              <b-button
                block 
                variant="outline-primary"
                @click="backToLogin">Back to Login Page</b-button>
            </b-col>
          </b-row>

        </b-card-body>
      </b-card>

    </div>

</template>

<script>
  export default {
    data() {
      return {
        first_name: '',
        middle_name: '',
        last_name: '',
        contact_num: '',
        email: '',
        message: "Enter Email Address",
        isError: false,
        resetButtonDisable: false,
      }
    },
    methods: {
      submit: function  (){
        
        this.resetButtonDisable = true
        this.message = "Please wait ...........",

        axios
          .post('/reset-request', {
            first_name: this.first_name,
            middle_name: this.middle_name,
            last_name: this.last_name,
            contact_num: this.contact_num,
            email: this.email,
            user_level: this.selected 
          })
          .then(response => {

            if(response.data.status){
              this.resetButtonDisable = true
              this.isError = false
            } else{
              this.resetButtonDisable = true
              this.isError = true
            }

            this.message = response.data.message

          })
          .catch(error => console.log(error))
      },

      backToLogin: function  (){
        this.$router.push('/')
      },

    }
  }
</script>