<template>
    <div class="container mt-3">
        <h3><span class="fa fa-bars text-info"></span>&nbsp;Modules</h3>
        <hr>

        <div class="bulletin-main">

            <b-row>
                <b-col class="top-button">
                    <b-button variant="success" href="/module-add" role="button">
                       <span class="fa fa-bars"></span> Add New Module</b-button>
                </b-col>
                <b-col>
                    <b-row class="bulletin-row">
                        <b-col sm="1">
                            <label>Course</label>
                        </b-col>
                        <b-col sm="1">
                            :
                        </b-col>
                        <b-col>
                            <b-form-select v-model="course_selected" :options="course_options"></b-form-select>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>

            <b-row>

                <b-col v-if="data" class="table" id="bulletin-table">
                    <b-table 
                        striped hover 
                        :fields="fields" 
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(courseName)="data">
                            {{ data.item.course.name }}
                        </template>

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-primary" :href="'/module-edit/' + data.item.id" role="button">Edit</b-button>
                            <b-button variant="outline-danger" v-on:click="deleteModule(data.item.id)">Delete</b-button>
                        </template>
                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>
                </b-col>

                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                fields: [
                    {key:'name', thClass:'view-assignment-title-width'},
                    {key:'courseName', thClass:'view-assignment-remarks-width'},
                    {key:'actions', thClass:'text-center', tdClass:'text-center'},
                ],
                perPage: 3,
                currentPage: 1,
                showNoData: false,
                aid: this.$route.params.id,
                course_selected: '',
                course_options: [],
            }
        },
        
        mounted(){
            this.getData()
            this.getCourseList()
            if(this.data.length == 0){
                this.showNoData = true
            }
        },

        methods:{

            getData(){
                axios
                    .get('/module')
                    .then(response => (
                        this.data = response.data
                    ))
            },

            updateData(){
                axios
                    .post('/update-module-list', {
                        course_id: this.course_selected,
                    })
                    .then(response => (
                        this.data = response.data
                    ))
                    .catch(error => console.log(error))
            },

            getCourseList: function(){
                axios
                    .get('/course-list')
                    .then(response => (
                        this.course_options = response.data
                    ))
                    .catch(error => console.log(error))

            },

            deleteModule(id){

                this.$bvModal
                    .msgBoxConfirm('Do you want to delete this record?.', {
                        title: 'Please Confirm',
                        size: 'sm',
                        buttonSize: 'sm',
                        okVariant: 'danger',
                        okTitle: 'YES',
                        cancelTitle: 'NO',
                        footerClass: 'p-2',
                        hideHeaderClose: false,
                        centered: true
                    })
                    .then(value => {
                        if(value){
                            axios
                                .get('/delete-module/' + id)
                                .then(response => (
                                    this.$bvModal
                                        .msgBoxOk('Record deleted', {
                                            title: 'Deleted',
                                            size: 'sm',
                                            buttonSize: 'sm',
                                            okVariant: 'success',
                                            headerClass: 'p-2 border-bottom-0',
                                            footerClass: 'p-2 border-top-0',
                                            centered: true
                                        })
                                        .then(value => {
                                            this.getData()
                                        })
                                        .catch(err => {
                                            console.log(err)
                                        })
                                ))

                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })

            },

        },

        computed: {
            rows() {
                return this.data.length
            }
        },

        watch: {
            course_selected: function (val){
                this.updateData()
            },

        }

    }
</script>