<template>
    <div class="container mt-3">

        <h3><span class="fa fa-bars text-info"></span>&nbsp;My Course List</h3>
        <hr>
        <div class="bulletin-main">

            <b-row>
                <b-col v-if="data" class="table" id="bulletin-table">
                    <b-table 
                        striped hover 
                        :fields="fields" 
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(courseTitle)="data">
                            {{ data.item.name }}
                        </template>

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-primary" :href="'/course-main/' + data.item.id" role="button">Open Course</b-button>
                        </template>
                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>
                </b-col>

                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                fields: [
                    {key:'courseTitle', thClass:'student-course-title-width'},
                    {key:'actions', thClass:'text-center', tdClass:'text-center'},
                ],
                perPage: 3,
                currentPage: 1,
                showNoData: false,
                mid: this.$route.params.id,
            }
        },
        
        mounted(){
            this.getData()
            // this.getTitle()
            if(this.data.length == 0){
                this.showNoData = true
            }
        },

        methods:{

            getData(){
                axios
                    .get('/get-student-enroll-course')
                    .then(response => (
                        this.data = response.data
                    ))
            },

        },

        computed: {
            rows() {
                return this.data.length
            }
        }

    }
</script>