<template>
    <div>

        <div class="course-main">

            <b-container>

                <b-row>

                    <b-col cols="5">

                        <b-row>
                            <b-col>
                                <b-card
                                    :header="course_name"
                                    header-tag="header"
                                    header-bg-variant="primary"
                                    header-text-variant="white"
                                    align="center">

                                    <pre class="pre">{{ course_desc }}</pre>
                                </b-card>

                            </b-col>
                        </b-row>

                        <b-row>
                            <b-col>
                                <b-card
                                    header="Outline"
                                    header-tag="header"
                                    header-bg-variant="primary"
                                    header-text-variant="white"
                                    align="center">

                                    <pre class="pre">{{ course_outline }}</pre>
                                </b-card>
                            </b-col>
                        </b-row>

                        <b-row>
                            <b-col>
                                <b-button variant="outline-primary" :href="'/student-course-list' " role="button" class="module-button">Back to My Course List</b-button>
                            </b-col>
                        </b-row>

                    </b-col>

                    <b-col cols="7">

                        <b-row>
                            <b-col>
                                <b-card
                                    header="Modules"
                                    header-tag="header"
                                    header-bg-variant="primary"
                                    header-text-variant="white"
                                    align="center">

                                    <b-row v-for="module in modules" :key=module.id > 
                                        <b-col>

                                            <b-card
                                                :header="'Module Title: ' + module.name"
                                                header-tag="header"
                                                border-variant="primary"
                                                header-border-variant="primary"
                                                align="center">
                                                
                                                <b-button style="font-size: small;" v-if="module.enable == 1" variant="outline-primary" :href="'/course-module/' + module.id + '/' + cid" role="button" class="module-button">View Module</b-button>
                                                <b-button style="font-size: small;" v-else variant="outline-primary" href="" role="button" class="module-button" disabled>Unavailable, You need to finish the previous module/s</b-button>

                                            </b-card>

                                        </b-col>
                                    </b-row>
                                </b-card>
                            </b-col>
                        </b-row>

                    </b-col>

                </b-row>

            </b-container>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                course_name: '',
                course_desc: '',
                course_outline: '',
                cid: this.$route.params.id,
                modules: [],
            }
        },
        
        mounted(){
            this.getData()
            this.getModules()
        },

        methods:{

            getData(){
                axios
                    .get('/get-course-display/' + this.$route.params.id)
                    .then(response => (
                        this.course_name = response.data.name,
                        this.course_desc = response.data.description,
                        this.course_outline = response.data.outline
                    ))
            },

            getModules(){
                axios
                    .get('/get-course-modules/' + this.$route.params.id)
                    .then(response => (
                        this.modules = response.data
                    ))
            },

        },

        computed: {
            rows() {
                return this.data.length
            }
        }

    }
</script>