<template>
    <div class="container mt-3">

        <h3><span class="fa fa-pencil-alt text-info"></span>&nbsp;{{ module_name }}</h3>
        <hr>

        <b-container>

            <b-row>
                <b-col v-if="quiz_taken == 2">
                    <form-wizard title=""
                                 subtitle="">
                    
                        <tab-content :before-change="beforeTabSwitch">

                            <p v-if="quiz_qna" class="form-wizard-question">
                                {{ quiz_qna[0].question }}
                            </p>

                            <b-form-radio-group
                                v-if="quiz_qna"
                                v-model="selected[0]"
                                :options="quiz_qna[0].answers"
                                stacked
                            ></b-form-radio-group>

                            <div v-if="message" class="text-center">
                                <pre class="pre-message">{{ message }}</pre>
                            </div>

                        </tab-content>

                        <tab-content :before-change="beforeTabSwitch">

                            <p v-if="quiz_qna" class="form-wizard-question">
                                {{ quiz_qna[1].question }}
                            </p>

                            <b-form-radio-group
                                v-if="quiz_qna"
                                v-model="selected[1]"
                                :options="quiz_qna[1].answers"
                                stacked
                            ></b-form-radio-group>

                            <div v-if="message" class="text-center">
                                <pre class="pre-message">{{ message }}</pre>
                            </div>

                        </tab-content>

                        <tab-content>

                            <p v-if="quiz_qna" class="form-wizard-question">
                                {{ quiz_qna[2].question }}
                            </p>

                            <b-form-radio-group
                                v-if="quiz_qna"
                                v-model="selected[2]"
                                :options="quiz_qna[2].answers"
                                stacked
                            ></b-form-radio-group>

                            <div v-if="message" class="text-center">
                                <pre class="pre-message">{{ message }}</pre>
                            </div>

                        </tab-content>

                        <template slot="footer" slot-scope="props">
                            <div class="wizard-footer-left"></div>
                            <div class="wizard-footer-right">

                                <div v-if="hasCheck == 0">
                                    <b-button class="wizard-footer-right check-ans-button" @click="checkAnswer(quiz_idx)">Check Answer</b-button>
                                </div>

                                <div v-else>
                                    <wizard-button v-if="!props.isLastStep" @click.native="props.nextTab()" class="wizard-footer-right" :style="props.fillButtonStyle">Next</wizard-button>
                                    <wizard-button v-else @click.native="doneButton()" class="wizard-footer-right finish-button" :style="props.fillButtonStyle">  {{props.isLastStep ? 'Done' : 'Next'}}</wizard-button>
                                </div>

                            </div>
                        </template>

                    </form-wizard>
                </b-col>

                <b-col v-else-if="quiz_taken == 1" class="text-center">
                    <pre class="pre-message">{{ taken_message }}</pre>
                    <b-button class="wizard-footer-right check-ans-button" @click="backButton()">Back</b-button>
                </b-col>

                <b-col v-else>
                    
                </b-col>
            </b-row>

        </b-container>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                modules: '',
                module_name: '',
                quiz_qna: '',
                quiz_id: '',
                quiz_idx: 0,
                selected: ['','',''],
                hasCheck: 0,
                message: '',
                score: 0,
                status: 'failed',
                quiz_taken: 0,
                quiz_score: '',
                module_id: '',
                taken_message: '',
            }
        },
        
        mounted(){
            this.getData()
            this.getQuiz()
        },

        methods:{

            getData(){
                axios
                    .get('/get-course-module-upload/' + this.$route.params.id)
                    .then(response => (
                        this.module_id = response.data.module.id,
                        this.modules = response.data,
                        this.module_name = 'Quiz for ' + response.data.module.name
                    ))
            },

            checkIfQuizTaken(){

                axios
                    .get('/check-student-quiz/' + this.module_id + '/' + this.$route.params.id)
                    .then(response => {

                        this.quiz_taken = response.data.status

                        if(response.data.status == 1){
                            this.taken_message = response.data.message
                        }

                    })
            },

            getQuiz(){
                axios
                    .get('/get-quiz-items/' + this.$route.params.id)
                    .then(response => (
                        this.quiz_qna = response.data.quiz_qna,
                        this.quiz_id = response.data.quiz_id
                    ))
            },

            beforeTabSwitch: function(){
                this.hasCheck = 0
                this.quiz_idx += 1
                this.message = ''
                return true
            },

            checkAnswer(id){

                if(this.selected[id]){

                    axios
                        .post('/check-quiz-answer', {
                            quiz_id: this.quiz_id[id],
                            answer: this.selected[id],
                            score: this.score,
                            items: this.quiz_idx,
                            
                        })
                        .then(response => (
                            this.message = response.data.message,
                            this.score = this.score + response.data.points,
                            this.status = response.data.status
                        ))
                        .catch(error => console.log(error))

                        this.hasCheck = 1
                        
                } else{
                    this.message = "Please select an answer"
                }

            },
            
            doneButton(){

                if(this.status == 'passed'){
                    axios
                        .post('/update-module-progress', {
                            module_id: this.$route.params.id,
                            score: this.score
                        })
                        .then(response => (
                            this.message = response.data

                        ))
                        .catch(error => console.log(error))

                }

                this.$router.push('/course-module/' + this.$route.params.id + '/' + this.$route.params.cid)

            },

            backButton(){
                this.$router.push('/course-module/' + this.$route.params.id + '/' + this.$route.params.cid)
            },
            
        },

        computed: {
            rows() {
                return this.data.length
            }
        },

        watch: {
            module_id: function(val) {
                this.checkIfQuizTaken()
            }
        },

    }
</script>