<template>
    <div class="container mt-3">

        <h3><span class="fa fa-pencil-alt text-info"></span>&nbsp;{{ course_name }}</h3>
        <hr>
        <h5>&nbsp;{{ description }}</h5>
        <hr>

        <b-container>

            <b-row>
                <b-col v-if="quiz_taken == 2">

                    <b-col v-if="front_page == true" class="text-center">
                        <pre class="pre-message">

<b>This is the final exam for this course.</b>
<b>PLEASE READ THE INSTRUCTIONS CAREFULLY.</b>

The exam is composed of 40 randomized questions from the question bank. 
You are given {{ timeLimit }} seconds to answer each question. Each item will appear consecutively and will move to the next item automatically. 
If no answer is chosen within the set time, that particular item will be counted as a wrong answer. 
You cannot go back to any number to change your answer.

Please <b>DO NOT REFRESH or CLICK THE BACK button</b> while taking the exam. 
If you do so, the exam will close and will be counted as an attempt. 
If you fail in the first attempt, you may retake the exam i.e. you are allowed only two attempts.

You need at least 32 correct answers to pass, equivalent to 80% grade.

                        </pre>

                        <div v-if="showConfirm == false" class="text-center">
                            <b-button class="check-ans-button" @click="startExam">Start Exam</b-button>
                        </div>

                        <div v-else>
                            <pre class="pre-message">
    Are you sure to take the exam now?
                            </pre>
                            <b-button variant="success" @click="startConfirm">Yes</b-button>
                            <b-button variant="danger" @click="startNoConfirm">No</b-button>
                        </div>

                    </b-col>

                    <form-wizard title=""
                                 subtitle=""
                                 ref="wizard"
                                 v-else>
                    
                        <tab-content v-for="(qna, index) in quiz_qna" :before-change="beforeTabSwitch" :key="index">
                            
                            <p class="form-wizard-question">
                                {{ quiz_idx + 1 }}. ) {{ qna.question }}
                            </p>

                            <b-form-radio-group
                                v-if="quiz_qna"
                                v-model="selected[index]"
                                :options="qna.answers"
                                stacked
                            ></b-form-radio-group>

                            <div v-if="message" class="text-center">
                                <pre class="pre-message-final">{{ message }}</pre>
                            </div>

                        </tab-content>


                        <template slot="footer" slot-scope="props">
                            <div class="wizard-footer-left"></div>
                            <div class="wizard-footer-right">

                                <div v-if="activate_back == false">
                                    <p>
                                        Timer: <b>{{ timeLeft }}</b>
                                    </p>
                                    <wizard-button v-if="!props.isLastStep" @click.native="props.nextTab()" class="wizard-footer-right" :style="props.fillButtonStyle">Next</wizard-button>
                                    <wizard-button v-else @click.native="doneButton()" class="wizard-footer-right finish-button" :style="props.fillButtonStyle">  {{props.isLastStep ? 'Done' : 'Next'}}</wizard-button>
                                </div>

                                <div v-else>
                                    <b-button class="wizard-footer-right check-ans-button" @click="backButton">Back to List</b-button>
                                </div>

                            </div>
                        </template>

                    </form-wizard>
                </b-col>

                <b-col v-else-if="quiz_taken == 1" class="text-center">
                    <pre class="pre-message">{{ taken_message }}</pre>
                    <b-button class="wizard-footer-right check-ans-button" @click="backButton">Back to List</b-button>
                </b-col>

                <b-col v-else>
                    
                </b-col>
            </b-row>

        </b-container>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                course_name: '',
                quiz_qna: '',
                quiz_id: [],
                quiz_idx: 0,
                selected: [],
                hasCheck: 0,
                message: '',
                score: 0,
                quiz_taken: 0,
                quiz_score: '',
                module_id: '',
                taken_message: '',
                activate_back: false,
                description: '',
                front_page: true,
                timeLimit: 60,
                timePassed: 0,
                timerInterval: null,
                showConfirm: false,
            }
        },

        mounted(){
            this.getData()
            this.checkIfFinalExam()
            this.getFinalExam()
        },

        methods:{

            sendStat(){
                axios
                    .get('/send-page-hits/' + this.$route.params.id)            
            },

            startExam(){
                this.showConfirm = true
            },

            startConfirm(){
                this.sendStat()
                this.front_page = false
                this.startTimer()
            },

            startNoConfirm(){
                this.$router.push('/student-final-exam-list')
            },

            getData(){
                axios
                    .get('/student-final-get-details/' + this.$route.params.id)
                    .then(response => (
                        this.course_name = 'Final Exam for ' + response.data.course.name,
                        this.description = response.data.description
                    ))
            },

            checkIfFinalExam(){

                axios
                    .get('/check-if-final-passed/' + this.$route.params.id)
                    .then(response => {

                        this.quiz_taken = response.data.status

                        if(response.data.status == 1){
                            this.taken_message = response.data.message
                        }

                    })
            },

            getFinalExam(){
                axios
                    .get('/get-final-exam-items/' + this.$route.params.id)
                    .then(response => (
                        this.quiz_qna = response.data.quiz_qna
                    ))
            },

            beforeTabSwitch: function(){

                if(!this.selected[this.quiz_idx]){
                    this.selected[this.quiz_idx] = "--"
                }

                this.message = ''
                this.quiz_id.push(this.quiz_qna[this.quiz_idx].quiz_id)
                this.quiz_idx += 1

                this.timePassed = 0

                this.stopTimer()
                this.startTimer()

                return true

            },

            doneButton(){

                // if(this.selected[this.quiz_idx]){

                if(!this.selected[this.quiz_idx]){
                    this.selected[this.quiz_idx] = "--"
                }

                this.message = ''
                this.quiz_id.push(this.quiz_qna[this.quiz_idx].quiz_id)

                this.message = 'Please wait ........'

                axios
                    .post('/compute-final-exam', {
                        question_ids: this.quiz_id,
                        answers: this.selected,
                        course: this.$route.params.id,
                    })
                    .then(response => (
                        this.message = response.data.message,
                        this.activate_back = true
                    ))
                    .catch(error => console.log(error))


                this.stopTimer()

                // } else{

                //     this.message = ''
                //     this.quiz_id.push("this.quiz_qna[this.quiz_idx].quiz_id")

                //     axios
                //         .post('/compute-final-exam', {
                //             question_ids: this.quiz_id,
                //             answers: this.selected,
                //             course: this.$route.params.id,
                //         })
                //         .then(response => (
                //             this.message = response.data.message,
                //             this.activate_back = true
                //         ))
                //         .catch(error => console.log(error))
                // }


            },

            backButton(){
                this.$router.push('/student-final-exam-list')
            },

            startTimer() {
                this.timerInterval = setInterval(() => (this.timePassed += 1), 1000);
            },

            stopTimer() {
                clearInterval(this.timerInterval)
            },
            
        },

        computed: {
            rows() {
                return this.data.length
            },

            timeLeft() {

                var left = this.timeLimit - this.timePassed

                if(left == 0){

                    this.beforeTabSwitch
                    
                    this.timePassed = -1

                    if(this.$refs.wizard.isLastStep){
                        this.doneButton()
                    } else{
                        this.$refs.wizard.nextTab();
                    }

                    // left = 1
                    // this.startTimer()
                }

                return left
            },

        },

    }

</script>