<template>
    <div>

        <div class="course-main">

            <b-container>

                <b-row>

                    <b-col cols="4">

                        <b-row>
                            <b-col>

                                <b-card
                                    :header=module_name
                                    header-tag="header"
                                    header-bg-variant="primary"
                                    header-text-variant="white"
                                    align="center">

                                    <pre class="pre">{{ module_desc }}</pre>
                                </b-card>

                                <b-row>
                                    <b-col class="course-main-title">
                                        
                                    </b-col>
                                </b-row>

                                <b-row>
                                    <b-col class="course-main-desc">
                                        
                                    </b-col>
                                </b-row>

                            </b-col>
                        </b-row>

                        <b-row style="padding-bottom: 10px;">
                            <b-col>
                                <b-button variant="outline-primary" 
                                          :href="'/course-module-quiz/' + this.$route.params.id + '/' + cid" role="button" 
                                          class="module-button"
                                          :disabled="disable_quiz">Take Quiz</b-button>
                            </b-col>
                        </b-row>
                        <b-row style="padding-bottom: 10px;">
                            <b-col class="text-center">
                                If the button above does not work, You can click this link:
                                <b-link :href="'/course-module-quiz/' + this.$route.params.id + '/' + cid">Take Quiz</b-link>
                                <br>
                                <br>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col>
                                <b-button variant="outline-primary" :href="'/course-main/' + cid " role="button" class="module-button">Back to My Course List</b-button>
                            </b-col>
                        </b-row>

                    </b-col>

                    <b-col cols="8">

                        <b-row v-if="modules.module_text != null">
                            
                            <b-col>

                                <b-card
                                    header="Module Notes"
                                    header-tag="header"
                                    header-bg-variant="primary"
                                    header-text-variant="white">

                                    <pre class="pre" v-if="modules.module_text">{{ modules.module_text }}</pre>
                                </b-card>

                            </b-col>

                        </b-row>

                        <b-row v-if="modules.path_to_doc != ''">
                            
                            <b-col>

                                <b-card
                                    header="Resource Document"
                                    header-tag="header"
                                    header-bg-variant="primary"
                                    header-text-variant="white">

                                    Download resource documents:

                                    <div v-for="(file, idx) in modules.path_to_doc" v-bind:key="idx" style="margin:10px 0;">

                                        <b-badge variant="success" v-if="modules.file_status[idx] == true">File downloaded</b-badge>

                                        <b-link @click.native="updatePage(module_id, idx)" :href="'/download-resource/' + module_id + '/' + idx">{{ file }}</b-link>
                                        <br>

                                    </div>

                                    
                                </b-card>

                            </b-col>

                        </b-row>

                        <b-row v-if="modules.external_link != ''">
                            
                            <b-col>

                                <b-card
                                    v-if="modules.external_link"
                                    header="External Resource"
                                    header-tag="header"
                                    header-bg-variant="primary"
                                    header-text-variant="white">

                                    Additional resource can be downloaded here:

                                    <div v-for="(link, idx) in modules.external_link" v-bind:key="idx" style="margin:10px 0;">

                                        <b-link :href="link" @click.native="enableQuiz" target="_blank">{{ link }}</b-link>
                                        <br>

                                    </div>

                                </b-card>

                            </b-col>

                        </b-row>

                        <b-row v-if="modules.path_to_vid != ''">
                            
                            <b-col>

                                <b-card
                                    header="Videos"
                                    header-tag="header"
                                    header-bg-variant="primary"
                                    header-text-variant="white">

                                    <!-- <b-embed
                                        v-for="(vid, idx) in modules.path_to_vid"
                                        v-bind:key="idx"
                                        type="iframe"
                                        aspect="16by9"
                                        :src=vid
                                        allowfullscreen
                                        style="margin: 10px 0;"
                                    ></b-embed> -->

                                    <div v-for="(vid, idx) in modules.path_to_vid" v-bind:key="idx" style="margin:10px 0;">

                                        <b-link :href="vid" @click.native="enableQuiz" target="_blank">{{ vid }}</b-link>
                                        <br>

                                    </div>

                                </b-card>


                            </b-col>

                        </b-row>

                        <b-row v-if="modules.path_to_webinar">
                            
                            <b-col>

                                <b-card 
                                    header="Webinar"
                                    header-tag="header"
                                    header-bg-variant="primary"
                                    header-text-variant="white">

                                    <b-row  v-for="(webinar, index) in modules.path_to_webinar" 
                                            :key="index">

                                        <b-col style="border: 1px solid #e8e8e8; margin: 10px 10px; padding: 10px 10px; ">

                                            Webinar Link: <b-link @click.native="enableQuiz" :href=webinar.path_to_webinar target="_blank">{{ webinar.path_to_webinar }}</b-link><br>
                                            Date of webinar: {{ webinar.webinar + ' ' + webinar.time | moment("dddd, MMMM Do YYYY - h:mm:ss A") }} <br>

                                        </b-col>

                                    </b-row>

                                </b-card>

                            </b-col>

                        </b-row>

                    </b-col>

                </b-row>

            </b-container>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                modules: '',
                module_name: '',
                module_desc: '',
                cid: this.$route.params.cid,
                // disable_quiz: true,
                disable_quiz: false,
                module_id: this.$route.params.id,
                button_enable_file: false
            }
        },
        
        mounted(){
            this.getData()
        },

        methods:{

            getData(){
                axios
                    .get('/get-course-module-upload/' + this.$route.params.id)
                    .then(response => (
                        this.modules = response.data,
                        this.module_name = response.data.module.name,
                        this.module_desc = response.data.module.description
                        // this.disable_quiz = response.data.enable_file
                    ))
            },

            enableQuiz(){

                if(this.disable_quiz == true){
                    this.disable_quiz = false
                }
            },

            updatePage(mid, idx){

                axios
                    .get('/update-file-download/' + mid + '/' + idx)
                    .then(response => (
                        this.enableQuiz(),
                        this.getData()
                    ))


                console.log(mid)
                console.log(idx)
                
            }

        },

        computed: {
            rows() {
                return this.data.length
            }
        }

    }
</script>