<template>
    <div class="container mt-3">
        <h3><span class="fa fa-university text-info"></span>&nbsp;About</h3>
        <hr>
        
        <div class="about-main">
            <b-container fluid>

                <b-row v-for="item in data" :key="item.id">
                    <b-col>

                        <!-- <b-row>
                            <b-col>
                                <b-alert 
                                    variant="primary"
                                    class="about-title text-center"
                                    show>{{item.title}}</b-alert>
                                
                            </b-col>
                        </b-row> -->

                        <b-row>
                            <b-col class="about-content" v-html="item.content">
                                {{item.content}}
                            </b-col>
                        </b-row>

                    </b-col>
                </b-row>
                
            </b-container>        
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                data:'',
            }
        },
        mounted(){
            this.getOrder()
        },

        methods: {

            getOrder: function(){
                axios
                    .get('/get-about-content')
                    .then(response => (
                        this.data = response.data,
                        console.log(this.data)
                    ))                
            },

        },

    }
</script>