<template>
    <div class="container mt-3">
        <h3><span class="fa fa-thumbs-up text-info"></span>&nbsp;Approve Registration Request</h3>
        <hr>

        <div class="bulletin-main">

            <b-row>
                <b-col v-if="data" class="table" id="bulletin-table">
                    <b-table 
                        striped hover 
                        :fields="fields" 
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(name)="data">
                            {{data.item.profile.last_name}}, {{data.item.profile.first_name}} {{data.item.profile.middle_name}}
                        </template>

                        <template v-slot:cell(contact_number)="data">
                            {{data.item.profile.contact_number}}
                        </template>

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-primary" v-on:click="approveRequest(data.item.id)">Approve</b-button>
                        </template>
                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>
                </b-col>

                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                fields: [
                    {
                        key: 'name',
                        thClass: 'name-header'
                    }, 
                    {
                        key: 'email',
                        thClass: 'email-header'
                    },
                    {
                        key: 'contact_number',
                        thClass: 'contact-header',
                        tdClass: 'contact-td'
                    },
                    {
                        key: 'actions',
                        thClass: 'action-header'
                    }
                ],
                perPage: 3,
                currentPage: 1,
                showNoData: false,
            }
        },
        
        mounted(){
            this.getData()
            if(this.data.length == 0){
                this.showNoData = true
            }
        },

        methods:{

            getData(){
                axios
                    .get('/approve-email-data')
                    .then(response => (
                        this.data = response.data
                    ))
            },

            approveRequest(id){

                this.$bvModal
                    .msgBoxConfirm('Do you want to approve this request?.', {
                        title: 'Please Confirm',
                        size: 'sm',
                        buttonSize: 'sm',
                        okVariant: 'danger',
                        okTitle: 'YES',
                        cancelTitle: 'NO',
                        footerClass: 'p-2',
                        hideHeaderClose: false,
                        centered: true
                    })
                    .then(value => {
                        if(value){
                            axios
                                .post('/approve-email/' + id)
                                .then(response => (
                                    this.$bvModal
                                        .msgBoxOk('An email has been sent to ' + response.data.email, {
                                            title: 'Approved',
                                            size: 'sm',
                                            buttonSize: 'sm',
                                            okVariant: 'success',
                                            headerClass: 'p-2 border-bottom-0',
                                            footerClass: 'p-2 border-top-0',
                                            centered: true
                                        })
                                        .then(value => {
                                            this.getData()
                                        })
                                        .catch(err => {
                                            console.log(err)
                                        })
                                ))

                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })

            }

        },

        computed: {
            rows() {
                return this.data.length
            }
        }

    }
</script>