<template>
    <div class="container mt-3">
        <h3><span class="fa fa-file-alt text-info"></span>&nbsp;Assignments</h3>
        <hr>

        <div class="bulletin-main">
            
            <b-row>
                <b-col class="top-button">
                    <b-button variant="success" href="/add-assignment-title" role="button">
                    <span class="fa fa-file-medical"></span> Add New Assignment Title</b-button>
                </b-col>
            </b-row>

            <b-row>
                <b-col v-if="data" class="table" id="bulletin-table">
                    <b-table 
                        striped hover 
                        :fields="fields" 
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(active)="data" thead-tr-class="center">
                            <b-badge variant="warning" v-if="data.item.active == 1">Yes</b-badge>
                            <b-badge variant="dark" v-else>No</b-badge>
                        </template>

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-primary" :href="'/assignment-admin/' + data.item.id" role="button">View Assignments</b-button>
                            <b-button variant="outline-primary" :href="'/edit-assignment-title/' + data.item.id" role="button">Edit Status</b-button>
                        </template>
                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>
                </b-col>

                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                fields: [
                    {key:'title', thClass:'assignment-list-title-width'},
                    {key:'active', thClass:'assignment-list-active-width', tdClass:'text-center'},
                    {key:'actions', thClass:'text-center', tdClass:'text-center'}, 
                ],
                
                perPage: 3,
                currentPage: 1,
                showNoData: false,
            }
        },
        
        mounted(){
            this.getData()
            if(this.data.length == 0){
                this.showNoData = true
            }
        },

        methods:{

            getData(){
                axios
                    .get('/assignment-list-data')
                    .then(response => (
                        this.data = response.data
                    ))
            },

        },

        computed: {
            rows() {
                return this.data.length
            }
        }

    }
</script>