<template>
    <div class="container mt-3">
        <h3><span class="fa fa-file-contract text-info"></span>&nbsp;Assignments</h3>
        <hr>

        <div class="bulletin-main">

            <b-row class="bulletin-row">
                <b-col>
                    <b-alert variant="success" show>Assignment title : {{ assignmentTitle }}</b-alert>
                </b-col>
            </b-row>

            <b-row>
                <b-col v-if="data" class="table" id="bulletin-table">
                    <b-table 
                        striped hover 
                        :fields="fields" 
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(reviewUploaded)="data" thead-tr-class="center">
                            <b-badge variant="warning" v-if="data.item.review_uploaded">Yes</b-badge>
                            <b-badge variant="dark" v-else>No</b-badge>
                        </template>

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-primary" :href="'/download-assignment/' + data.item.id" role="button">Download</b-button>
                            <b-button variant="outline-primary" :href="'/upload-review/' + data.item.id + '/' + aid" role="button">Upload</b-button>
                        </template>
                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>
                </b-col>

                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                fields: [
                    {key:'name', thClass:'view-assignment-title-width'},
                    {key:'remarks', thClass:'view-assignment-remarks-width'},
                    {key:'reviewUploaded', thClass:'view-assignment-review-width', tdClass:'text-center'},
                    {key:'actions', thClass:'text-center', tdClass:'text-center'},
                ],
                perPage: 3,
                currentPage: 1,
                showNoData: false,
                assignmentTitle: '',
                aid: this.$route.params.id,
            }
        },
        
        mounted(){
            this.getData()
            this.getTitle()
            if(this.data.length == 0){
                this.showNoData = true
            }
        },

        methods:{

            getData(){
                axios
                    .get('/assignment-admin-list/'  + this.$route.params.id)
                    .then(response => (
                        this.data = response.data
                    ))
            },

            getTitle(){
                axios
                    .get('/assignment-list-data/' + this.$route.params.id)
                    .then(response => (
                        this.assignmentTitle = response.data.title
                    ))
            },

        },

        computed: {
            rows() {
                return this.data.length
            }
        }

    }
</script>