<template>
    <div class="container mt-3">
        <h3><span class="fa fa-comments text-info"></span>&nbsp;Chatbox</h3>
        <hr>

        <div class="chat-app">
            <Conversation :contact="selectedContact" :messages="messages" @new="saveNewMessage"/>
            <ContactsList :contacts="contacts" @selected="startConversationWith"/>
        </div>    

    </div>

</template>

<script>

    import Conversation from './Chat/Conversation'
    import ContactsList from './Chat/ContactsList'

    export default{

        components: {Conversation, ContactsList},

        data(){
            return {
                selectedContact: null,
                messages: [],
                contacts:[],
                user: [],
            }
        },
        
        mounted(){

            this.getCurrentUser()
            this.getContacts()            
            
        },

        methods:{
            getContacts: function(){
                axios
                    .get('/contacts')
                    .then((response) => {
                        this.contacts = response.data
                    })
            },

            getCurrentUser: function(){
                axios
                    .get('/getUser')
                    .then((response) => {
                        this.user = response.data

                        Echo.private('messages.' + this.user.id)
                        .listen('NewMessage', (e) => {
                            this.handleIncoming(e.message)
                        })

                    })
            },

            startConversationWith(contact){
                axios
                    .get('/conversation/' + contact.id)
                    .then((response) => {
                        this.messages = response.data
                        this.selectedContact = contact
                    })                
            },

            saveNewMessage(message){
                this.messages.push(message)
            },

            handleIncoming(message){
                if(this.selectedContact && message.from == this.selectedContact.id){
                    this.saveNewMessage(message)
                    return
                }

            },

        },
    }
</script>