<template>
    <div class="container mt-3">
        <h3><span class="fa fa-chart-area text-info"></span>&nbsp;Dashboard</h3>
        <hr>

        <div class="dashboard-main">
            <div class="dashboard-box" v-for="bulletin in bulletins" :key=bulletin.id>
                <b-row>
                    <b-col sm="2" class="day text-center back-mon" v-if="bulletin.day == 'Mon'">
                        {{bulletin.day}}
                    </b-col>
                    <b-col sm="2" class="day text-center back-tue" v-if="bulletin.day == 'Tue'">
                        {{bulletin.day}}
                    </b-col>
                    <b-col sm="2" class="day text-center back-wed" v-if="bulletin.day == 'Wed'">
                        {{bulletin.day}}
                    </b-col>
                    <b-col sm="2" class="day text-center back-thu" v-if="bulletin.day == 'Thu'">
                        {{bulletin.day}}
                    </b-col>
                    <b-col sm="2" class="day text-center back-fri" v-if="bulletin.day == 'Fri'">
                        {{bulletin.day}}
                    </b-col>
                    <b-col sm="2" class="day text-center back-sat" v-if="bulletin.day == 'Sat'">
                        {{bulletin.day}}
                    </b-col>
                    <b-col sm="2" class="day text-center back-sun" v-if="bulletin.day == 'Sun'">
                        {{bulletin.day}}
                    </b-col>
                    <b-col class="title">
                        {{bulletin.title}}
                    </b-col>
                </b-row>
                <b-row>
                    <b-col sm="2" class="schedule text-center back-mon" v-if="bulletin.day == 'Mon'">
                        {{bulletin.schedule}}
                    </b-col>
                    <b-col sm="2" class="schedule text-center back-tue" v-if="bulletin.day == 'Tue'">
                        {{bulletin.schedule}}
                    </b-col>
                    <b-col sm="2" class="schedule text-center back-wed" v-if="bulletin.day == 'Wed'">
                        {{bulletin.schedule}}
                    </b-col>
                    <b-col sm="2" class="schedule text-center back-thu" v-if="bulletin.day == 'Thu'">
                        {{bulletin.schedule}}
                    </b-col>
                    <b-col sm="2" class="schedule text-center back-fri" v-if="bulletin.day == 'Fri'">
                        {{bulletin.schedule}}
                    </b-col>
                    <b-col sm="2" class="schedule text-center back-sat" v-if="bulletin.day == 'Sat'">
                        {{bulletin.schedule}}
                    </b-col>
                    <b-col sm="2" class="schedule text-center back-sun" v-if="bulletin.day == 'Sun'">
                        {{bulletin.schedule}}
                    </b-col>
                    <b-col class="remarks">
                        {{bulletin.remarks}}
                    </b-col>
                </b-row>

            </div>
        </div>
    </div>
</template>

<script>

    export default{

        data(){
            return {
                bulletins: '',
            }
        },
        
        mounted(){
            this.getData()
        },

        methods:{

            getData(){
                axios
                    .get('/bulletin')
                    .then(response => (
                        this.bulletins = response.data
                    ))
            }


        },

    }
</script>