<template>

    <div id="main-content" class="main-content">

        <b-navbar toggleable="lg"
                  type="dark" 
                  variant="primary" 
                  class="navbar-width sticky-top">

            <b-navbar-brand href="/dashboard">
                <b-img class="header-logo" src="/img/logo.png"></b-img>
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>

                <b-navbar-nav class="ml-auto">

                    <!-- Sample badge -->
                    <!-- <div class="text-center" v-if="role == 'admin'">   
                    <b-button variant="primary">
                        <span class="fa fa-user"></span>
                        <b-badge variant="danger">9 <span class="sr-only">new users</span></b-badge>
                    </b-button>
                    </div>

                    <div class="text-center" v-if="role == 'admin'">
                    <b-button variant="primary">
                        <span class="fa fa-envelope"></span>
                        <b-badge variant="danger">9 <span class="sr-only">unread messages</span></b-badge>
                    </b-button>
                    </div> -->
                    

                    <b-nav-item-dropdown right>
                        <template v-slot:button-content>

                            <em>{{ name }}</em>

                        </template>

                        <b-dropdown-item href="/logout">Sign Out</b-dropdown-item>
                        
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>

        <sidebar-menu
            v-if="role == 'admin'" 
            :menu="adminMenu"
            disableHover
            @toggle-collapse="onToggleCollapse"
            />
        <sidebar-menu
            v-else-if="role == 'faculty'" 
            :menu="facultyMenu"
            disableHover
            @toggle-collapse="onToggleCollapse"
            />
        <sidebar-menu
            v-else-if="role == 'user'" 
            :menu="studentMenu"
            disableHover
            @toggle-collapse="onToggleCollapse"
            />

        <sidebar-menu
            v-else
            :menu="blankMenu"
            disableHover
            @toggle-collapse="onToggleCollapse"
            />


        <router-view></router-view>
        
    </div> 

</template>

<script>

    export default {    

        data(){ 
            return{
                adminMenu: [
                    {
                        href: '/dashboard',
                        title: 'Dashboard',
                        icon: 'fa fa-chart-area'
                    },
                    {
                        href: '/approve-request',
                        title: 'Approve Registration Request',
                        icon: 'fa fa-thumbs-up',
                    },
                    {
                        href: '/bulletin-main',
                        title: 'Manage Bulletin',
                        icon: 'fa fa-calendar'
                    },
                    {
                        href: '/lecture-admin',
                        title: 'Manage Lectures',
                        icon: 'fa fa-book-open',
                    },
                    {
                        href: '/assignment-title',
                        title: 'View Assigments',
                        icon: 'fa fa-file-alt',
                    },
                    {
                        href: '/about-content-admin',
                        title: 'About Content',
                        icon: 'fa fa-university',
                    },
                    {
                        href: '/chatbox',
                        title: 'Chatbox',
                        icon: 'fa fa-comments',
                    },
                    {
                        href: '/user-list',
                        title: 'Manage Users',
                        icon: 'fa fa-users',
                    },
                    {
                        href: '/enroll-student-to-course',
                        title: 'Enroll Students to Course',
                        icon: 'fa fa-chalkboard-teacher',
                    },
                    {
                        href: '/manage-course-certificate',
                        title: 'Manage Course Certificates',
                        icon: 'fa fa-certificate',
                    },
                    // {
                    //     href: '/manage-laboratory-manual',
                    //     title: 'Manage Laboratory Manual',
                    //     icon: 'fa fa-book-medical',
                    // },
                    {
                        href: '/',
                        href: '',
                        title: 'Online Courses',
                        icon: 'fa fa-laptop',
                        child: [
                            {
                                href: '/course-create',
                                title: 'Create Course',
                                icon: 'fa fa-book',
                            },
                            {
                                href: '/module-create',
                                title: 'Create Module',
                                icon: 'fa fa-bars',
                            },
                            {
                                href: '/upload-module-create',
                                title: 'Upload Module Files',
                                icon: 'fa fa-upload',
                            },
                            {
                                href: '/quiz-main',
                                title: 'Create Quiz',
                                icon: 'fa fa-pen',
                            },
                            {
                                href: '/final-exam-main',
                                title: 'Create Final Exam',
                                icon: 'fa fa-pencil-alt',
                            },
                            {
                                href: '/view-grades-list',
                                title: 'View Students Exam Results',
                                icon: 'fa fa-percentage',
                            },
                        ]
                    }
                ],
                facultyMenu: [
                    {
                        href: '/dashboard',
                        title: 'Dashboard',
                        icon: 'fa fa-chart-area'
                    },
                    {
                        href: '/approve-request',
                        title: 'Approve Registration Request',
                        icon: 'fa fa-thumbs-up',
                    },
                    {
                        href: '/bulletin-main',
                        title: 'Manage Bulletin',
                        icon: 'fa fa-calendar'
                    },
                    {
                        href: '/lecture-admin',
                        title: 'Manage Lectures',
                        icon: 'fa fa-book-open',
                    },
                    {
                        href: '/assignment-title',
                        title: 'View Assigments',
                        icon: 'fa fa-file-alt',
                    },
                    {
                        href: '/about-content-admin',
                        title: 'About Content',
                        icon: 'fa fa-university',
                    },
                    {
                        href: '/chatbox',
                        title: 'Chatbox',
                        icon: 'fa fa-comments',
                    },
                    {
                        href: '',
                        title: 'Online Courses',
                        icon: 'fa fa-laptop',
                        child: [
                            {
                                href: '/module-create',
                                title: 'Create Module',
                                icon: 'fa fa-bars',
                            },
                            {
                                href: '/upload-module-create',
                                title: 'Upload Module Files',
                                icon: 'fa fa-upload',
                            },
                            {
                                href: '/quiz-main',
                                title: 'Create Quiz',
                                icon: 'fa fa-pen',
                            }
                        ]
                    }
                ],
                studentMenu: [
                    {
                        href: '/dashboard',
                        title: 'Dashboard',
                        icon: 'fa fa-chart-area'
                    },
                    {
                        href: '/student-lecture',
                        title: 'Download Lectures',
                        icon: 'fa fa-book-open',
                    },
                    {
                        href: '/student-assignment',
                        title: 'Submit Assigments',
                        icon: 'fa fa-file-alt',
                    },
                    {
                        href: '/about-page',
                        title: 'About Site',
                        icon: 'fa fa-university',
                    },
                    {
                        href: '/chatbox',
                        title: 'Chatbox',
                        icon: 'fa fa-comments',
                    },
                    // {
                    //     href: '/upload-laboratory-manual',
                    //     title: 'Upload Laboratory Manual',
                    //     icon: 'fa fa-book-medical',
                    // },
                    {
                        href: '',
                        title: 'Online Courses',
                        icon: 'fa fa-laptop',
                        child: [
                            {
                                href: '/student-course-list',
                                title: 'My Courses',
                                icon: 'fa fa-book',
                            },
                            {
                                href: '/student-final-exam-list',
                                title: 'Take Final Exam',
                                icon: 'fa fa-pencil-alt',
                            },
                            {
                                href: '/student-view-student-grades',
                                title: 'View Exam Results',
                                icon: 'fa fa-percentage',
                            },
                        ]
                    },
                ],
                blankMenu: [],
                role:'',
                name: '',
            }
        },

        mounted(){
            this.getAuth()
            this.getRole()
            this.getName()
        },

        methods:{

            getAuth(){
                axios
                    .get('/check-auth')
                    .then(response => {
                        if(response.data.status == 0){
                            this.$router.push('/')
                        }
                    })
                    .catch(error => console.log(error))
            },

            getRole: function(){
                axios
                    .get('/getRole')
                    .then(response => (
                        this.role = response.data
                    ))
                    .catch(error => console.log(error))
            },

            getName: function(){
                axios
                    .get('/getName')
                    .then(response => (
                        this.name = response.data
                    ))
                    .catch(error => console.log(error))
            },

            onToggleCollapse(collapsed) {
                if(collapsed == true){
                    $( "#main-content" ).removeClass( "main-content").addClass( "main-content-collapsed");
                } else{
                    $( "#main-content" ).removeClass( "main-content-collapsed").addClass( "main-content");
                }
            },
        }
    }
</script>

<style lang="scss">
    @import '/css/vue.css';
</style>