<template>
  <div class="container mt-3">
      <h3><span class="fa fa-users text-info"></span>&nbsp;&nbsp;Manage Users</h3>
      <hr>

      <div class="bulletin-main">
            <b-row>
                <b-col class="top-button">
                    <b-button variant="success" href="/create-new-user" role="button">
                        <span class="fa fa-user-plus"></span>&nbsp;Add New User</b-button>
                </b-col>
            </b-row>
            
            <b-row>
                <b-col v-if="data" class="table" id="bulletin-table">
                    <b-table
                        striped hover
                        :fields="fields"
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(userName)="data" thead-tr-class="center">
                            {{ data.item.email }}
                        </template>   

                        <template v-slot:cell(dateRegistered)="data" thead-tr-class="center">
                            {{ data.item.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}
                        </template> 

                        <template v-slot:cell(status)="data" thead-tr-class="center">
                            <b-badge variant="success" v-if="data.item.is_active == 'Y'">Active</b-badge>
                            <b-badge variant="danger" v-else>Disabled</b-badge>
                        </template>  

                        <template v-slot:cell(action)="data">
                            <b-button variant="info" v-b-tooltip.hover title="View user details"
                            :href="'/get-user-details/' + data.item.id" role="button">
                                <span class="fa fa-user-tie"></span></b-button>
                        </template>
                        
                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>
                </b-col>

                <!-- NO DATA TO SHOW -->
                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

                
            </b-row>


      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            data: '',
            fields: [
                { key: 'userName', thClass: 'email-list-title-width' },
                { key: 'dateRegistered', thClass: 'date-list-title-width' },
                { key: 'status', thClass: 'status-list-title-width' },
                { key: 'action', thClass: 'text-center', tdClass: 'text-center' },
            ],
            perPage: 5,
            currentPage: 1,
            showNoData: false,
        }
    },

    computed: {
        rows() {
            return this.data.length
        }
    },

    mounted(){
        this.getData()
        if(this.data.length == 0){
            this.showNoData = true
        }
    },

    methods: {
        getData(){
            axios
            .get('/user-list-data')
            .then(response => {
                this.data = response.data
            })
        }
    }
}
</script>

<style>

</style>