<template>
  <div class="container mt-3">
      <h3><span class="fa fa-user-plus text-info"></span> Create New User</h3>
      <hr>

      <div class="bulletin-main">
          <b-container fluid>

              <b-row class="bulletin-row"> 
                <b-col class="text-center">
                  {{ alert_message }}
                </b-col>
              </b-row>

              <b-row class="bulletin-row">
                <b-col sm="2">
                  <label for="first-name">First Name</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                  <b-form-input id="first-name" type="text" v-model="first_name"></b-form-input>
                </b-col>
              </b-row>

              <b-row class="bulletin-row">
                <b-col sm="2">
                  <label for="middle-name">Middle Name</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                  <b-form-input id="middle-name" type="text" v-model="middle_name"></b-form-input>
                </b-col>
              </b-row>

              <b-row class="bulletin-row">
                <b-col sm="2">
                  <label for="last-name">Last Name</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                  <b-form-input id="last-name" type="text" v-model="last_name"></b-form-input>
                </b-col>
              </b-row>

              <b-row class="bulletin-row">
                <b-col sm="2">
                  <label for="contact-number">Contact #</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                  <b-form-input id="contact-number" type="text" v-model="contact_num"></b-form-input>
                </b-col>
              </b-row>

              <b-row class="bulletin-row">
                <b-col sm="2">
                  <label for="email">Email</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                  <b-form-input id="email" type="email" v-model="email"></b-form-input>
                </b-col>
              </b-row>

              <b-row class="bulletin-row">
                <b-col sm="2">
                  <label for="user-level">User Level</label>
                </b-col>
                <b-col sm="1">
                  :
                </b-col>
                <b-col>
                  <b-form-select id="user-level" v-model="selected" :options="user_level"></b-form-select>
                </b-col>
              </b-row>

              <b-row class="bulletin-row">
                <b-col sm="2">
                  <label for="user-level">User Type</label>
                </b-col>
                <b-col sm="1">
                  :
                </b-col>
                <b-col>
                  <b-form-select id="user-level" v-model="user_type_selected" :options="user_type"></b-form-select>
                </b-col>
              </b-row>

              <b-row class="bulletin-row">
                <b-col sm="3">
                  <button
                    :disabled="submitStatus"
                    type="submit"
                    class="btn btn-success bulletin-submit"
                    @click="submit">Submit</button>
                </b-col>
                <b-col sm="3">
                  <a href="/user-list" class="btn btn-warning bulletin-submit">Cancel</a>
                </b-col>
              </b-row>
          </b-container>
      </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      alert_message: '',
      first_name: '',
      middle_name: '',
      last_name: '',
      contact_num: '',
      email: '',
      selected: null,
      user_type_selected: '',
      user_level: [
        { value: null, text: "Select User Level" },
        { value: 'faculty', text: "Faculty" },
        { value: 'user', text: "Student" },
      ],
      user_type: [
        { value: 'S', text: "Select User Type" },
        { value: 'S', text: "Student" },
        { value: 'R', text: "Resident" },
      ],
      showSuccess: false,
      submitStatus: false,

    }
  },

  methods:{
    submit: function  (){
      axios
        .post('/user-create', {
          first_name: this.first_name,
          middle_name: this.middle_name,
          last_name: this.last_name,
          contact_num: this.contact_num,
          email: this.email,
          user_level: this.selected,
          user_type_selected: this.user_type_selected
        })
        .then(response => {

            if(response.data.status){
              this.showSuccess = true,
              this.submitStatus = true,
              this.$router.push('/user-list')
            } else{
              this.alert_message = response.data.message
            }

        })
        .catch(error => console.log(error))
    },
  }
}
</script>