<template>
    <div class="container mt-3">
        <h3><span class="fa fa-user-circle text-info"></span>&nbsp;User Details</h3>
        <hr>

        <div class="bulletin-main">
            <b-row class="bulletin-row">
                <b-col>
                    <template>
                    <b-alert variant="success" v-model="showSuccess">
                        <span class="fa fa-user-check"></span> User details successfully updated.</b-alert>
                    </template>
                    
                    <template>
                    <b-alert variant="danger" v-model="showDisabelMsg">
                        <span class="fa fa-user-check"></span> User has been disabled.</b-alert>
                    </template>

                    <template>
                    <b-alert variant="info" v-model="showEnableMsg">
                        <span class="fa fa-user-check"></span> User has been enabled.</b-alert>
                    </template>
                </b-col>
            </b-row>

            <b-row class="bulletin-row">
                <b-col>
                    <b-button variant="warning" href="/user-list" role="button">
                    <span class="fa fa-undo"></span> Back to List</b-button>
                </b-col>
            </b-row>

            <b-row class="bulletin-row">
                <b-col sm="2">
                    <label for="first-name">First Name</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                    <b-form-input id="first-name" type="text" v-model="first_name"></b-form-input>
                </b-col>
            </b-row>

            <b-row class="bulletin-row">
                <b-col sm="2">
                    <label for="middle-name">Middle Name</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                    <b-form-input id="middle-name" type="text" v-model="middle_name"></b-form-input>
                </b-col>
            </b-row>

            <b-row class="bulletin-row">
                <b-col sm="2">
                    <label for="last-name">Last Name</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                    <b-form-input id="last-name" type="text" v-model="last_name"></b-form-input>
                </b-col>
            </b-row>

            <b-row class="bulletin-row">
                <b-col sm="2">
                    <label for="contact-number">Contact #</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                    <b-form-input id="contact-number" type="text" v-model="contact_num"></b-form-input>
                </b-col>
            </b-row>

            <b-row class="bulletin-row">
                <b-col sm="2">
                    <label for="email">Email</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                    <b-form-input id="email" type="email" v-model="email"></b-form-input>
                </b-col>
            </b-row>

            <b-row class="bulletin-row">
                <b-col sm="2">
                    <label for="user-level">User Level</label>
                </b-col>
                <b-col sm="1">
                    :
                </b-col>
                <b-col>
                    <b-form-select id="user-level" v-model="selected" :options="user_level"></b-form-select>
                </b-col>
            </b-row>

            <b-row class="bulletin-row">
                <b-col sm="3">
                    <button
                    :disabled=submitStatus
                    type="button"
                    class="btn btn-success bulletin-submit"
                    @click="updateUser"><span class="fa fa-user-edit"></span> Update Details</button>
                </b-col>
                <b-col v-if="is_active == 'Y'" sm="3">
                    <button
                    type="button"
                    class="btn btn-danger bulletin-submit"
                    @click="disableUser"><span class="fa fa-user-slash"></span> Disable User</button>
                </b-col>
                <b-col v-else sm="3">
                    <button
                    type="button"
                    class="btn btn-info bulletin-submit"
                    @click="enableUser"><span class="fa fa-user-check"></span> Enable User</button>
                </b-col>
            </b-row>
        </div> <!-- bulletin-main -->
    </div>
</template>

<script>
export default {
    data(){
        return{
            first_name: '',
            middle_name: '',
            last_name: '',
            contact_num: '',
            email: '',
            is_active: '',
            selected: null,
            user_level: [],
            user_level: [
                { value: null, text: "Select User Level" },
                { value: 'faculty', text: "Faculty" },
                { value: 'user', text: "Student" },
            ],

            showSuccess: false,
            submitStatus: false,
            showDisabelMsg: false,
            showEnableMsg: false,
        }
    },

    mounted() {
        this.getUserDetails()
    },

    methods: {
        getUserDetails(){
            axios
            .get('/get-user-detail/' + this.$route.params.id)
            .then(response => (
                this.first_name = response.data.profile.first_name,
                this.middle_name = response.data.profile.middle_name,
                this.last_name = response.data.profile.last_name,
                this.contact_num = response.data.profile.contact_number,
                this.email = response.data.email,
                this.is_active = response.data.is_active,
                this.selected = response.data.profile.role
            ))
            .catch(error => console.log(error))
        },

        updateUser(){
            axios
            .post('/update-user-details/' + this.$route.params.id, {
                first_name: this.first_name,
                middle_name: this.middle_name,
                last_name: this.last_name,
                contact_num: this.contact_num,
                email: this.email,
                user_level: this.selected
            })
            .then(response => (
                this.showSuccess = true,
                this.submitStatus = true
            ))
            .catch(error => console.log(error))
        },

        disableUser(){
            axios
            .get('/disable-user/' + this.$route.params.id)
            .then(response => (
                this.showDisabelMsg = true
            ))
            .catch(error => console.log(error))
        },

        enableUser(){
            axios
            .get('/enable-user/' + this.$route.params.id)
            .then(response => (
                this.showEnableMsg = true
            ))
            .catch(error => console.log(error))
        },
    }
}
</script>

<style>

</style>