<template>
    <div class="container mt-3">
        <h3><span class="fa fa-laptop text-info"></span>&nbsp;Add Course</h3>
        <hr>
    
        <div class="bulletin-main">
            <b-container fluid>

                <b-row class="bulletin-row" v-if="showNotification == true">
                    <b-col>
                        <b-alert variant="success" v-model="showNotification">
                            * All fields are required</b-alert>
                    </b-col>    
                </b-row>

                <b-row class="bulletin-row" v-else-if="showSuccess == true">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Course successfully saved</b-alert>
                    </b-col>   
                </b-row>

                <b-row class="bulletin-row" v-else-if="showError == true">
                    <b-col>
                        <b-alert variant="danger" v-model="showError">
                            <span class="fa fa-times"></span> All fields are required</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Name</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="name" type="text" v-model="name"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Description</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                            <b-form-textarea
                                id="textarea"
                                v-model="description"
                                rows="5"
                                no-resize
                                >
                            </b-form-textarea>
                    </b-col>
                </b-row>
                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Outline</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                            <b-form-textarea
                                id="textarea"
                                v-model="outline"
                                rows="5"
                                no-resize
                                >
                            </b-form-textarea>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button
                            :disabled=submitStatus
                            type="submit" 
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" href="/course-create">Back</a>
                    </b-col>
                </b-row>
                
            </b-container>        
        </div>

    </div>
</template>

<script>

    export default {
        data(){
            return {
                name: '',
                description: '',
                outline: '',
                showSuccess: false,
                showError: false,
                showNotification: true,
                submitStatus: false,
            }
        },
        mounted(){

        },

        methods: {

            submit: function(){

                this.submitStatus = true
                this.showNotification = false

                if(this.name == '' || this.description == '' || this.outline == ''){
                    this.showError = true
                    this.submitStatus = false
                } else{
                    axios
                        .post('/save-course', {
                            name: this.name,
                            description: this.description,
                            outline: this.outline

                        })
                        .then(response => (
                            this.showError = false,
                            this.showSuccess = true
                        ))
                        .catch(error => console.log(error))
                }

            },

        },

    }
</script>