<template>
    <div class="container mt-3">
        <h3><span class="fa fa-percentage text-info"></span>&nbsp;&nbsp;View Exam Results</h3>
        <hr>

        <div class="bulletin-main">

            <b-row>

                <b-col>
                    <b-row class="bulletin-row">
                        <b-col sm="1">
                            <label>Course</label>
                        </b-col>
                        <b-col sm="1">
                            :
                        </b-col>
                        <b-col>
                            <b-form-select v-model="course_selected" :options="course_options"></b-form-select>
                        </b-col>
                    </b-row>
                </b-col>

            </b-row>

            <b-row v-if="data && data.final_results.length">

                <b-col class="table" id="bulletin-table">

                    <b-table 
                        striped hover 
                        :fields="final_fields" 
                        :items="data.final_results">

                        <template v-slot:cell(courseFinalExam)="data">
                            {{ data.item.name }}
                        </template>

                        <template v-slot:cell(1stTake)="data">
                            {{ data.item.take_1 }}
                        </template>

                        <template v-slot:cell(2ndTake)="data">
                            {{ data.item.take_2 }}
                        </template>

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-primary" :href="'/view-student-grades/' + data.item.id" role="button">View Grades</b-button>
                        </template>

                    </b-table>

                </b-col>

            </b-row>

            <b-row v-if="data && data.quiz_results.length">

                <b-col class="table" id="bulletin-table">

                    <b-table 
                        striped hover 
                        :fields="quiz_fields" 
                        :items="data.quiz_results">

                        <template v-slot:cell(moduleName)="data">
                            {{ data.item.name }}
                        </template>

                        <template v-slot:cell(score)="data">
                            {{ data.item.score }}
                        </template>

                    </b-table>

                </b-col>
            </b-row>

            <b-row>
                <b-col class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>
            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                final_fields: [
                    {key:'courseFinalExam', thClass:'student-course-title-width'},
                    {key:'1stTake', thClass:'text-center', tdClass:'text-center'},
                    {key:'2ndTake', thClass:'text-center', tdClass:'text-center'},
                ],
                quiz_fields: [
                    {key:'moduleName', thClass:'student-course-title-width'},
                    {key:'score', thClass:'text-center', tdClass:'text-center'},
                ],
                perPage: 3,
                currentPage: 1,
                showNoData: false,
                course_selected: '',
                course_options: [],
            }
        },
        
        mounted(){
            // this.getData()
            this.getCourseList()

            if(this.data.length == 0){
                this.showNoData = true
            }

        },

        methods:{

            // getData(){
            //     axios
            //         .get('/display-grades/' + this.$route.params.id)
            //         .then(response => (
            //             this.data = response.data
            //         ))
            // },

            updateData(){
                axios
                    .post('/display-grades-filter', {
                        id: this.$route.params.id,
                        course_id: this.course_selected,
                    })
                    .then(response => {

                        if(response.data.final_results.length == 0 && response.data.quiz_results.length == 0){
                            this.showNoData = true
                        } else{
                            this.showNoData = false
                        }

                        this.data = response.data
                    })
                    .catch(error => console.log(error))
            },

            getCourseList: function(){
                axios
                    .get('/admin-course-filter-list/' + this.$route.params.id)
                    .then(response => (
                        this.course_options = response.data
                    ))
                    .catch(error => console.log(error))

            },

        },

        computed: {
            rows() {
                return this.data.length
            }
        },

        watch: {
            course_selected: function (val){
                this.updateData()
            },

        }

    }
</script>