<template>
    <div class="container mt-3">
        <h3><span class="fa fa-bars text-info"></span>&nbsp;&nbsp;View Exam Result List</h3>
        <hr>

        <div class="bulletin-main">

            <b-row>

                <b-col>
                    <b-row class="bulletin-row">
                        <b-col sm="2">
                            <label>Student Name</label>
                        </b-col>
                        <b-col sm="1">
                            :
                        </b-col>
                        <b-col>
                            <b-form-select v-model="student_selected" :options="student_option"></b-form-select>
                        </b-col>
                    </b-row>
                </b-col>

            </b-row>

            <b-row>

                <b-col v-if="data" class="table" id="bulletin-table">
                    <b-table 
                        striped hover 
                        :fields="fields" 
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(studentName)="data">
                            {{ data.item.profile.first_name }} {{ data.item.profile.middle_name }} {{ data.item.profile.last_name }}
                        </template>

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-primary" :href="'/view-student-grades/' + data.item.id" role="button">View Grades</b-button>
                        </template>

                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>
                </b-col>

                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                fields: [
                    {key:'studentName', thClass:'student-course-title-width'},
                    {key:'actions', thClass:'text-center', tdClass:'text-center'},
                ],
                perPage: 3,
                currentPage: 1,
                showNoData: false,
                student_selected: '',
                student_option: [],
            }
        },
        
        mounted(){
            this.getData()
            this.getStudentList()

            if(this.data.length == 0){
                this.showNoData = true
            }

        },

        methods:{

            getData(){
                axios
                    .get('/view-student-grade-list')
                    .then(response => (
                        this.data = response.data
                    ))
            },

            updateData(){
                axios
                    .post('/update-final-exam-student-list', {
                        id: this.student_selected,
                    })
                    .then(response => (
                        this.data = response.data
                    ))
                    .catch(error => console.log(error))
            },

            getStudentList: function(){
                axios
                    .get('/final-exam-student-list')
                    .then(response => (
                        this.student_option = response.data
                    ))
                    .catch(error => console.log(error))

            },

        },

        computed: {
            rows() {
                return this.data.length
            }
        },

        watch: {
            student_selected: function (val){
                this.updateData()
            },

        } 

    }
</script>