<template>
    <div class="container mt-3">
        <h3><span class="fa fa-calendar text-info"></span>&nbsp;Add New Bulletin</h3>
        <hr>

        <div class="dashboard-main">
            <b-container fluid>

                <b-row class="bulletin-row">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Bulletin successfully saved</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">Title</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="title" type="text" v-model="title"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">Remarks</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="remarks" type="text" v-model="remarks"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">Date</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="date" type="date" v-model="date"></b-form-input>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button type="submit" 
                        :disabled=submitStatus
                        class="btn btn-success bulletin-submit" 
                        @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" href="/bulletin-main">Back</a>
                    </b-col>
                </b-row>
                
            </b-container>        
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                title:'',
                remarks: '',
                date: '',
                showSuccess: false,
                submitStatus: false,
            }
        },
        mounted(){
            // this.getRole()
        },

        methods: {
            submit: function(){
                axios
                    .post('/bulletin', {
                        title: this.title,
                        remarks: this.remarks,
                        schedule: this.date

                    })
                    .then(response => (
                        this.showSuccess = true,
                        this.submitStatus = true
                    ))
                    .catch(error => console.log(error))
            },

        },

    }
</script>