<template>
    <div class="container mt-3">
        <h3><span class="fa fa-pen text-info"></span>&nbsp;Quizes</h3>
        <hr>


        <div class="bulletin-main">

            <b-row>

                <b-col>
                    <b-row class="bulletin-row">
                        <b-col sm="2">
                            <label>Course</label>
                        </b-col>
                        <b-col sm="1">
                            :
                        </b-col>
                        <b-col>
                            <b-form-select v-model="course_selected" :options="course_options"></b-form-select>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col>
                    <b-row class="bulletin-row">
                        <b-col sm="2">
                            <label>Module</label>
                        </b-col>
                        <b-col sm="1">
                            :
                        </b-col>
                        <b-col>
                            <b-form-select v-model="module_selected" :options="module_options"></b-form-select>
                        </b-col>
                    </b-row>                    
                </b-col>

            </b-row>

            <b-row>

                <b-col v-if="data" class="table" id="bulletin-table">
                    <b-table 
                        striped hover 
                        :fields="fields" 
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(courseName)="data">
                            {{ data.item.course.name }}
                        </template>

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-success" :href="'/quiz-list/' + data.item.id" role="button">View Questionnaires</b-button>
                        </template>
                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>
                </b-col>

                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                fields: [
                    {key:'name', thClass:'view-assignment-title-width'},
                    {key:'courseName', thClass:'view-assignment-remarks-width'},
                    {key:'actions', thClass:'text-center', tdClass:'text-center'},
                ],
                perPage: 3,
                currentPage: 1,
                showNoData: false,
                aid: this.$route.params.id,
                course_selected: '',
                module_selected: '',
                course_options: [],
                module_options: [],
            }
        },
        
        mounted(){
            this.getData()
            this.getCourseList()

            if(this.data.length == 0){
                this.showNoData = true
            }

        },

        methods:{

            getData(){
                axios
                    .get('/upload-module-index')
                    .then(response => (
                        this.data = response.data
                    ))
            },

            updateData(){
                axios
                    .post('/update-upload-list', {
                        course_id: this.course_selected,
                        module_id: this.module_selected,

                    })
                    .then(response => (
                        this.data = response.data
                    ))
                    .catch(error => console.log(error))
            },

            getModuleList(id){
                axios
                    .get('/module-list/' + id)
                    .then(response => (
                        this.module_options = response.data
                    ))
                    .catch(error => console.log(error))

            },

            getCourseList: function(){
                axios
                    .get('/course-list')
                    .then(response => (
                        this.course_options = response.data
                    ))
                    .catch(error => console.log(error))

            },

        },

        computed: {
            rows() {
                return this.data.length
            }
        },

        watch: {
            course_selected: function (val){
                this.getModuleList(val)
                this.module_selected = ''
                this.updateData()
            },

            module_selected: function (val){
                this.updateData()
            },
        }

        

    }
</script>