<template>
    <div class="container mt-3">
        <h3><span class="fa fa-file-medical text-info"></span>&nbsp;Add New Assignment</h3>
        <hr>
        <div class="bulletin-main">
            <b-container fluid>

                <b-row class="bulletin-row">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Assignment title saved</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">Active</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-checkbox v-model="active" name="check-button" switch size="lg">
                        </b-form-checkbox>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">Title</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="title" type="text" v-model="title"></b-form-input>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button
                            :disabled=submitStatus
                            type="submit" 
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" href="/assignment-title">Back</a>
                    </b-col>
                </b-row>
            
            </b-container>        
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                title:'',
                active: 0,
                showSuccess: false,
                submitStatus: false,
            }
        },
        mounted(){

        },

        methods: {
            submit: function(){
                axios
                    .post('/assignment-list-data', {
                        title: this.title,
                        active: this.active,
                    })
                    .then(response => (
                        this.showSuccess = true,
                        this.submitStatus = true
                    ))
                    .catch(error => console.log(error))
            },

        },

    }
</script>