<template>
    <div class="container mt-3">
        <h3><span class="fa fa-file-signature text-info"></span>&nbsp;Update Assignment</h3>
        <hr>

        <div class="bulletin-main">
            <b-container fluid>

                <b-row class="bulletin-row">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Assignment title successfully updated</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">Title</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-select v-model="selected" :options="options"></b-form-select>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button
                            :disabled=submitStatus
                            type="submit" 
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" href="/assignment-title">Back</a>
                    </b-col>
                </b-row>
                
            </b-container>        
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                active: '',
                showSuccess: false,
                submitStatus: false,
            }
        },
        mounted(){
            this.getData()
        },

        methods: {
            getData(){
                axios
                    .get('/assignment-list-data/' + this.$route.params.id)
                    .then(response => (
                        this.active = response.data['active']
                    ))
                    .catch(error => console.log(error))
                    
            },

            submit: function(){

                    var activeVal = '';

                    if(this.active === true){
                        activeVal = 1
                    } else{
                        activeVal = 0
                    }

                axios
                    .put('/assignment-list-data/'  + this.$route.params.id , {
                        active: activeVal,
                    })
                    .then(response => (
                        this.showSuccess = true,
                        this.submitStatus = true
                    ))
                    .catch(error => console.log(error))
                
                
            },

        },

    }
</script>