<template>
    <div class="container mt-3">
        <h3><span class="fa fa-upload text-info"></span>&nbsp;Add Module Files</h3>
        <hr>

        <div class="upload-module-main">
            <b-container fluid>

                <b-row class="bulletin-row">
                    <b-col sm="1">
                        <label :for="title">Title</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-input id="title" type="text" v-model="title"></b-form-input>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>File</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <b-form-file
                            multiple
                            v-model="file"
                            :state="Boolean(file)"
                            placeholder="Choose a file or drop it here..."
                            drop-placeholder="Drop file here..."
                            accept=".doc, .docx, .pdf, .xls, .xlsx, .ppt, .pptx"
                        >
                        <template slot="file-name" slot-scope="{ names }">
                            <b-badge variant="dark">{{ names[0] }}</b-badge>
                            <b-badge v-if="names.length > 1" variant="dark" class="ml-1">
                            + {{ names.length - 1 }} More files
                            </b-badge>
                        </template>
                        
                        </b-form-file>

                        <label style="font-size:small;">To select multiple files, hold <kbd>ctrl</kbd> on keyboard while selecting files. The files to be uploaded should be in the same folder</label>
                    </b-col>
                </b-row>

                <b-col sm="1">
                    <b-button pill 
                        variant="primary"
                        v-b-tooltip.hover title="Click to add new Webinar"
                        v-b-tooltip.right
                        size="small"
                        @click="addWebinarForm"><span class="fa fa-plus"></span></b-button>
                </b-col>

                <b-row v-for="(webinar, index) in webinars" :key="index" class="bulletin-row">
                    <b-col cols="1">
                        <label>Webinar:</label>
                    </b-col>
                    <b-col  cols="4">
                        <b-form-input id="path-to-webinar" type="text" v-model="webinar.path_to_webinar"
                        placeholder="Webinar Link"></b-form-input>
                    </b-col>
                    <b-col cols="3">
                        <b-form-timepicker v-model="webinar.time" locale="en"></b-form-timepicker>
                    </b-col>
                    <b-col cols="3">
                        <b-form-input id="webinar" type="date" v-model="webinar.webinar"></b-form-input>
                    </b-col>
                    <b-col>
                        <span
                            v-if="showDeleteButton == true"
                            type="submit" 
                            class="float-left text-danger"
                            style="cursor:pointer"
                            v-b-tooltip.hover title="remove"
                            @click="deleteWebinarForm(index)">
                            <span class="fa fa-times"></span></span>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Module Uploads successfully saved</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button
                            :disabled=submitStatus
                            type="submit" 
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" href="/upload-module-create">Back</a>
                    </b-col>
                </b-row>

            </b-container>        
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                title: '',
                // files: [
                //     { path_to_webinar: '', webinar: '',  time: '' }
                // ],     
                file: [],
                names: [],
                showSuccess: false,
                submitStatus: false,
                showDeleteButton: false,
                
            }
        },
        mounted(){
            this.getTitle()
        },

        methods: {

            getTitle: function(){
                axios
                    .get('/module-list-title/' + this.$route.params.id)
                    .then(response => (
                        this.course_name = response.data.course.name,
                        this.module_name = response.data.name
                    ))
                    .catch(error => console.log(error))

            },

            submit: function(){

                var formData = new FormData()
                var settings = { headers: { 'content-type': 'multipart/form-data' } }

                formData.append('module_text', this.module_text)
                formData.append('external_link', this.external_link)

                if(this.path_to_vid.length != 0){
                    formData.append('path_to_vid', this.path_to_vid)
                } else{
                    formData.append('path_to_vid', '')
                }

                if(this.webinars[0].path_to_webinar){
                    formData.append('path_to_webinar', JSON.stringify(this.webinars))
                } else{
                    formData.append('path_to_webinar', '')
                }

                formData.append('course_id', this.$route.params.cid)
                formData.append('module_id', this.$route.params.id)

                $.each(this.file, function( index, value ) {
                    formData.append('file[]', value, value.name);
                });

                axios
                    .post('/add-upload-module', formData, settings)
                    .then(response => (
                        this.showSuccess = true,
                        this.submitStatus = true
                    ))
                    .catch(error => console.log(error))
            },

            // method to add Webinar form
            addWebinarForm(){
                this.webinars.push({
                    path_to_webinar: '',
                    webinar: '',
                    time: ''
                })
            },
            // method to delete Webinar form
            deleteWebinarForm(index){
                this.webinars.splice(index, 1)
            }

        },

        watch: {
            webinars: function(val){
                if(val.length == 1){
                    this.showDeleteButton = false
                } else{
                    this.showDeleteButton = true
                }
            }
        }

    }
</script>