<template>
    <div class="container mt-3">
        <h3><span class="fa fa-upload text-info"></span>&nbsp;Upload Laboratory Manual</h3>
        <hr>

        <div class="bulletin-main">

            <b-row>

                <b-row>
                    <b-col class="top-button">
                        <b-button variant="primary" href="/add-laboratory-manual" role="button">Upload Laboratory Manual</b-button>
                    </b-col>
                </b-row>

            </b-row>

            <b-row>

                <b-col v-if="data" class="table" id="bulletin-table">
                    <b-table 
                        striped hover 
                        :fields="fields" 
                        :items="data"
                        :per-page="perPage"
                        :current-page="currentPage">

                        <template v-slot:cell(courseName)="data">
                            {{ data.item.course.name }}
                        </template>

                        <template v-slot:cell(actions)="data">
                            <b-button variant="outline-primary" :href="'/upload-module-edit/' + data.item.upload.id + '/' + data.item.id" role="button" v-if="data.item.upload">Edit</b-button>
                            <b-button variant="outline-danger" v-on:click="deleteUploadModule(data.item.id)" v-if="data.item.upload">Delete</b-button>
                            <b-button variant="outline-success" :href="'/upload-module-add/' + data.item.id + '/' + data.item.course_id" role="button">View Score</b-button>
                        </template>
                    </b-table>

                    <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="bulletin-table"
                    ></b-pagination>

                </b-col>

                <b-col v-else class="no-record text-center">
                    <b-alert :show="showNoData" >No records found</b-alert>
                </b-col>

            </b-row>
        
        </div>

    </div>

</template>

<script>

    export default{

        data(){
            return {
                data: '',
                fields: [
                    {key:'title', thClass:'student-laboratory-manual-width'},
                    {key:'actions', thClass:'text-center', tdClass:'text-center'},
                ],
                perPage: 3,
                currentPage: 1,
                showNoData: false,
                aid: this.$route.params.id,
                course_selected: '',
                module_selected: '',
                course_options: [],
                module_options: [],
            }
        },
        
        mounted(){
            this.getData()
            this.getCourseList()

            if(this.data.length == 0){
                this.showNoData = true
            }

        },

        methods:{

            getData(){
                axios
                    .get('/student-get-laboratory-manual')
                    .then(response => (
                        this.data = response.data
                    ))
            },

            updateData(){
                axios
                    .post('/update-upload-list', {
                        course_id: this.course_selected,
                        module_id: this.module_selected,

                    })
                    .then(response => (
                        this.data = response.data
                    ))
                    .catch(error => console.log(error))
            },

            getModuleList(id){
                axios
                    .get('/module-list/' + id)
                    .then(response => (
                        this.module_options = response.data
                    ))
                    .catch(error => console.log(error))

            },

            getCourseList: function(){
                axios
                    .get('/course-list')
                    .then(response => (
                        this.course_options = response.data
                    ))
                    .catch(error => console.log(error))

            },

            deleteUploadModule(id){

                this.$bvModal
                    .msgBoxConfirm('Do you want to delete this record?.', {
                        title: 'Please Confirm',
                        size: 'sm',
                        buttonSize: 'sm',
                        okVariant: 'danger',
                        okTitle: 'YES',
                        cancelTitle: 'NO',
                        footerClass: 'p-2',
                        hideHeaderClose: false,
                        centered: true
                    })
                    .then(value => {
                        if(value){
                            axios
                                .get('/delete-upload-module/' + id)
                                .then(response => (
                                    this.$bvModal
                                        .msgBoxOk('Record deleted', {
                                            title: 'Deleted',
                                            size: 'sm',
                                            buttonSize: 'sm',
                                            okVariant: 'success',
                                            headerClass: 'p-2 border-bottom-0',
                                            footerClass: 'p-2 border-top-0',
                                            centered: true
                                        })
                                        .then(value => {
                                            this.getData()
                                        })
                                        .catch(err => {
                                            console.log(err)
                                        })
                                ))

                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })

            },

        },

        computed: {
            rows() {
                return this.data.length
            }
        },

        watch: {
            course_selected: function (val){
                this.getModuleList(val)
                this.module_selected = ''
                this.updateData()
            },

            module_selected: function (val){
                this.updateData()
            },
        }

        

    }
</script>