<template>
    <div class="container mt-3">
        <h3><span class="fa fa-chalkboard-teacher text-info"></span>&nbsp;Add Enroll Course to Student</h3>
        <hr>
    
        <div class="bulletin-main">
            <b-container fluid>

                <b-row class="bulletin-row" v-if="showNotification == true">
                    <b-col>
                        <b-alert variant="success" v-model="showNotification">
                            * All fields are required</b-alert>
                    </b-col>    
                </b-row>

                <b-row class="bulletin-row" v-else-if="showSuccess == true">
                    <b-col>
                        <b-alert variant="success" v-model="showSuccess">
                            <span class="fa fa-check"></span> Enrolled courses successfully saved</b-alert>
                    </b-col>   
                </b-row>

                <b-row class="bulletin-row" v-else-if="showError == true">
                    <b-col>
                        <b-alert variant="danger" v-model="showError">
                            <span class="fa fa-times"></span> All fields are required</b-alert>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <label>Select Courses</label>
                    </b-col>
                    <b-col sm="1">
                        :
                    </b-col>
                    <b-col>
                        <multiselect v-model="course_array" 
                                     tag-placeholder="Add this as new tag" 
                                     placeholder="Search or add a tag" 
                                     label="text" 
                                     track-by="text" 
                                     :options="course_options" 
                                     :multiple="true" 
                                     :taggable="true" 
                                     @tag="addTag"></multiselect>
                        <label style="font-size:small;">You can select more than 1 course in the dropdown selection. Click the course to add it. If the course is already selected, You can click it to deselect it.</label>
                    </b-col>
                </b-row>

                <b-row class="bulletin-row">
                    <b-col sm="2">
                        <button
                            :disabled=submitStatus
                            type="submit" 
                            class="btn btn-success bulletin-submit" 
                            @click="submit">Submit</button>
                    </b-col>
                    <b-col sm="2">
                        <a class="btn btn-warning bulletin-submit" href="/enroll-student-to-course">Back</a>
                    </b-col>
                </b-row>
                
            </b-container>        
        </div>

    </div>
</template>

<script>

    export default {
        data(){
            return {
                name: '',
                description: '',
                outline: '',
                showSuccess: false,
                showError: false,
                showNotification: true,
                submitStatus: false,
                course_options: [],
                course_array: [],
            }
        },
        mounted(){
            this.getCourseList()
        },

        methods: {

            getCourseList: function(){
                axios
                    .get('/course-list')
                    .then(response => (
                        this.course_options = response.data
                    ))
                    .catch(error => console.log(error))

            },

            submit: function(){

                this.submitStatus = true
                this.showNotification = false

                if(this.course_array == ''){
                    this.showError = true
                    this.submitStatus = false
                } else{
                    axios
                        .post('/save-student-enroll-course', {
                            user_id: this.$route.params.id,
                            courses: this.course_array
                        })
                        .then(response => (
                            this.showError = false,
                            this.showSuccess = true
                        ))
                        .catch(error => console.log(error))
                }

            },

            addTag (newTag) {
                const tag = {
                    name: newTag,
                    code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                }
                this.options.push(tag)
                this.value.push(tag)
            },

        },

    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>